.wp-block-contodo-components-collaborator-card {
	padding: 1em 0;
	h4 {
		color: var(--global--color-black);
		font-size: 18px;
		font-weight: bold;
	  line-height: normal;
	}
	h5 {
		color: var(--global--color-secondary);
		font-size: 13px;
		line-height: 1.54;
		font-weight: normal;
		letter-spacing: 0.5px;
	}
	a.components-external-link {
		color: var(--global--color-secondary);
		text-transform: capitalize;
		font-size: 14px;
		line-height: 1.36;
		font-weight: normal;
		display: block;
		&:hover {
			border-bottom: none;
			padding-bottom: 2px;
		}
		svg {
			display: none;
		}
	}
}
