@mixin contentMaxWidth( $cols ) {
	@each $col in $cols {
		&.image-#{$col} .content {
			//max-width: calc(var(--global--width-container)*(#{100-$col}/100));
			max-width: calc(#{100-$col}vw - (100vw - var(--global--width-content))/2);
		}
	}
}
$cols: 25,33,42,50,58,67,75;

.contodo-hero.two-up {
	.content {
		padding-right: var(--global--spacing-vertical);
		padding-left: var(--global--spacing-vertical);
	}
	.image {
		max-height: 100%;
	}

	&.is-style-darkImageRight,
	&.is-style-darkImageLeft {
		background: var(--global--color-black);
		color: var(--global--color-white);
		h2, p {
			color: var(--global--color-white);
		}
	}
	&.is-style-darkImageRight,
	&.is-style-lightImageRight {
		.content {
			margin-left: auto;
			@include media(tablet) {
				margin-right: inherit;
			}
		}
	}
	&.is-style-darkImageLeft,
	&.is-style-lightImageLeft {
		.content {
			margin-right: auto;
			@include media(tablet) {
				padding-left: 4rem;
				margin-left: inherit;
			}
		}
	}
	
	@include media(mobile) {
		.content {
			max-width: calc(#{$content-breakpoint-sm} - #{$horizontal-padding});
			margin: auto;
			padding-right: var(--global--spacing-horizontal);
			padding-left: var(--global--spacing-horizontal);
		}
	}

	@include media(tablet) {
		@include contentMaxWidth($cols);
		p {
			max-width: 400px;
		}
	}
}
