.wp-block-contodo-components-project-card.card {
	border: none;
	border-radius: none;
	margin-bottom: 5rem;
	figure {
		margin-left: calc(-15px - var(--global--spacing-horizontal));
		margin-right: calc(-15px - var(--global--spacing-horizontal));
	}
	h2 {
		margin: 2rem 0 0.25rem;
		font-size: 34px;
	}
	.description p {
		font-size: 18px;
	}
	a {
		text-transform: none;
		font-weight: inherit;
	}

	@include media(tablet) {
		figure {
			margin-left: 0px;
			margin-right: 0px;
		}
	}
}