//  sticky behavior - meant to be child of bootstrap column
$margin: calc( (100% - var(--global--width-content))/2 );

.sticky {
	position: sticky;
	top: 64px;
	&.right {
		margin-right: $margin;
	}
	
}
.col > .sticky {
	padding-left: 15px;
	padding-right: 15px;
	max-width: 100%;
	width: inherit;
	&.left {
		padding-left: 0;
		padding-right: 0;
	}
}
