p {
	padding-left: 0;
	padding-right: var(--global--spacing-unit);
	padding-bottom: var(--global--spacing-unit);
	// inherits general font style set at <body>
	&.has-background {
		padding: var(--global--spacing-unit);
	}
}
