@mixin heading-variables() {
	--heading--font-family: var(--global--font-primary);

	--heading--font-size-h6: var(--global--font-size-sm);
	--heading--font-size-h5: 14px;
	--heading--font-size-h4: var(--global--font-size-lg);
	--heading--font-size-h3: var(--global--font-size-xxl);
	--heading--font-size-h2: var(--global--font-size-xxxl);
	--heading--font-size-h1: var(--global--font-size-xxxxl);

	--heading--font-color-h1: var(--global--color-black);
	--heading--font-color-h2: var(--global--color-black);
	--heading--font-color-h3: var(--global--color-black);
	--heading--font-color-h4: var(--global--color-primary);
	--heading--font-color-h5: var(--global--color-primary);
	--heading--font-color-h6: var(--global--color-secondary);

	--heading--font-weight-h1: 900;
	--heading--font-weight-h2: 200;
	--heading--font-weight-h3: 600;
	--heading--font-weight-h4: 900;
	--heading--font-weight-h5: 700;
	--heading--font-weight-h6: 200;

	--heading--letter-spacing-h6: var(--global--letter-spacing-md);
	--heading--letter-spacing-h5: var(--global--letter-spacing-md);
	--heading--letter-spacing-h4: var(--global--letter-spacing-lg);
	--heading--letter-spacing-h3: var(--global--letter-spacing-xl);
	--heading--letter-spacing-h2: var(--global--letter-spacing-xxl);
	--heading--letter-spacing-h1: var(--global--letter-spacing-xxxl);

	--heading--line-height: 1.25em;
	--heading--margin-bottom: .75em;
}
