h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	clear: both;
	font-family: var(--heading--font-family);
	font-weight: var(--heading--font-weight);
	margin-bottom: var(--heading--margin-bottom);
}
h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: nimbus-sans-extended, sans-serif;
}

h1, .h1 {
	font-size: var(--heading--font-size-h1);
	letter-spacing: var(--heading--letter-spacing-h1);
	line-height: var(--heading--line-height);
	color: var(--heading--font-color-h1);
	font-weight: var(--heading--font-weight-h1);
}

h2, .h2 {
	font-size: var(--heading--font-size-h2);
	letter-spacing: var(--heading--letter-spacing-h2);
	line-height: var(--heading--line-height);
	color: var(--heading--font-color-h2);
	font-weight: var(--heading--font-weight-h2);
}

h3, .h3 {
	font-size: var(--heading--font-size-h3);
	letter-spacing: var(--heading--letter-spacing-h3);
	line-height: var(--heading--line-height);
	color: var(--heading--font-color-h3);
	font-weight: var(--heading--font-weight-h3);
}

h4, .h4 {
	font-size: var(--heading--font-size-h4);
	letter-spacing: var(--heading--letter-spacing-h4);
	line-height: var(--heading--line-height);
	color: var(--heading--font-color-h4);
	font-weight: var(--heading--font-weight-h4);
}

h5, .h5 {
	font-size: var(--heading--font-size-h5);
	letter-spacing: var(--heading--letter-spacing-h5);
	line-height: var(--global--line-height-body);
	color: var(--heading--font-color-h5);
	font-weight: var(--heading--font-weight-h5);
	text-transform: uppercase;
}

h6, .h6 {
	font-size: var(--heading--font-size-h6);
	letter-spacing: var(--heading--letter-spacing-h6);
	line-height: var(--global--line-height-body);
	color: var(--heading--font-color-h6);
	font-weight: var(--heading--font-weight-h6);
}

.display-1, .display-2, .display-3, .display-4 {
	font-family: var(--global--font-primary);
}
