hr {
	border-bottom: var(--separator--height) solid var(--separator--border-color);
	clear: both;
	margin-left: auto;
	margin-right: auto;

	&.wp-block-separator {
		border-bottom: var(--separator--height) solid var(--separator--border-color);

		&:not(.is-style-wide):not(.is-style-dots) {
			max-width: var(--separator--width);
		}

		/**
		 * Block Options
		 */
		&.is-style-wide {
			@extend %responsive-aligndefault;
		}

		&.is-style-dots {

			&.has-background,
			&.has-text-color {
				background-color: transparent !important;

				&:before {
					color: currentColor !important;
				}
			}

			&:before {
				color: var(--separator--border-color);
				font-size: var(--global--font-size-xl);
				letter-spacing: var(--global--font-size-sm);
				padding-left: var(--global--font-size-sm);
			}
		}

		.has-background:not(.has-background-background-color) &,
		[class*="background-color"]:not(.has-background-background-color) &,
		[style*="background-color"] &,
		.wp-block-cover[style*="background-image"] & {
			border-color: currentColor;
		}
	}
}
