@mixin footer-variables() {
	--footer--color-text: var(--global--color-foreground-light);
	--footer--color-link: var(--global--color-white);
	--footer--color-link-hover: var(--global--color-primary);

	--footer--font-family: var(--global--font-primary);
	--footer--font-size: var(--global--font-size-sm);
}
