#site-contact{
	background: #fff;
	bottom: -200vh;
	z-index: 99;
	transition: bottom .3s ease-in;
	color: currentColor;
	font-size: 14px;
	&.enabled {
		bottom: 0;
	}

	button.close {
		font-size: 2.5rem;
		text-shadow: none;
		font-weight: 300;
		opacity: 1;
		float: none;
		&:hover {
			background-color: var(--light);
		}
	}

	.callout {
		padding-top: 1em;
		padding-bottom: 2em;
		font-weight: 600;
		font-size: 14px;
		h2 {
			font-family: var(--global--font-primary);
		}
	}

	.site-name {
		font-weight: bold;
	}

	a {
		color: currentColor;
		text-transform: none;
	}

	@media screen and (min-width:  $content-breakpoint-lg) {
		h5 {
			font-size: 14px;
		}
	}
}
