.footer-navigation {
	.internal-links {
		background: #fff;
		padding-top: 2em;
		padding-bottom: 2em;
	}
	
	.footer-menu {
		color: var(--footer--color-text);
		margin: 0;
		padding-left: var(--global--spacing-horizontal);
		padding-right: var(--global--spacing-horizontal);
		display: flex;
		justify-content: space-between;
		@include media(tablet) {
			display: inline-block;
			margin-bottom: 0;
		}

		& > li {
			display: inline;
			@include media(tablet) {
			  margin-right: 5.5rem;
			}


			&:first-of-type > a {
				padding-left: 0;
				margin-left: 0;
			}

			&:last-of-type {
				padding-right: 0;
			}
		}

	}

	.external-links {
		a {
			text-transform: none;
			font-size: 12px;
		}
		@include media(mobile-only) {
			padding-right: var(--global--spacing-horizontal);
		}
	}

	.social {
		div {
			padding-bottom: .5rem;
			@include media(tablet) {
				display: inline-block;
				padding: 0 0 0 3rem;
			}
		}
	}
}

body.single-post .footer-navigation {
	border-top: 1px solid var(--dark);
}
