/**
 * Comments Wrapper
 */
.comments-area {

	& > * {
		margin-top: var(--global--spacing-vertical);
		margin-bottom: var(--global--spacing-vertical);

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

/**
 * Comment Title
 */

.comments-title {
	font-size: var(--heading--font-size-h3);
	letter-spacing: var(--heading--letter-spacing-h3);
}

.comment-reply-title {
	font-size: var(--global--font-size-xl);
	display: flex;
	justify-content: space-between;
	align-items: center;

	small {
		font-size: var(--global--font-size-base);
		font-family: var(--global--font-family-secondary);
		letter-spacing: normal;
		line-height: var(--global--line-height-heading);
	}
}

/**
 * Comment Lists
 */

.comment-list {
	border-bottom: 1px solid var(--global--color-border);
	padding-left: 0;
	list-style: none;

	> li {
		border-top: 1px solid var(--global--color-border);
		margin-top: var(--global--spacing-vertical);
		margin-bottom: var(--global--spacing-vertical);
	}
}

.comment-list .children {
	list-style: none;
	padding-left: var(--global--spacing-horizontal);

	> li {
		border-top: 1px solid var(--global--color-border);
		margin-top: var(--global--spacing-vertical);
		margin-bottom: var(--global--spacing-vertical);
	}

	@include media(mobile) {
		padding-left: calc(2 * var(--global--spacing-horizontal));
	}
}

/**
 * Comment Meta
 */

.comment-meta {

	$avatar-size: var(--global--spacing-vertical);

	margin-right: calc( #{$avatar-size} + (0.5 * var(--global--spacing-horizontal)) );

	.comment-author {
		line-height: var(--global--line-height-heading);
		margin-bottom: calc(0.25 * var(--global--spacing-unit);
		padding-right: calc(2.5 * var(--global--spacing-horizontal));
		max-width: calc(100% - (3 * var(--global--spacing-horizontal)));

		@include media(mobile) {
			display: flex;
			align-items: center;
			margin-bottom: 0;
			padding-right: 0;
		}

		.fn {
			word-wrap: break-word;
			word-break: break-word;
			hyphens: auto;
		}

		.avatar {
			display: block;
			position: absolute;
			right: 0;
		}
	}

	.comment-metadata {
		color: var(--global--color-foreground);
		padding-right: calc(2.5 * var(--global--spacing-horizontal));

		@include media(mobile) {
			padding-right: 0;
		}

		a {
			color: currentColor;

			&:hover,
			&:active {
				color: var(--global--color-primary-hover);
			}
		}
	}

	@include media(mobile) {
		margin-right: inherit;
		align-items: center;
		display: flex;
		justify-content: space-between;

		.comment-author {
			display: flex;
			align-items: center;
			max-width: inherit;
			flex: 0 1 auto;

			.fn {
				padding-right: var(--global--spacing-horizontal);
			}

			.avatar {
				margin-right: var(--global--spacing-horizontal);
				display: inherit;
				position: inherit;
				right: inherit;
			}
		}

		.comment-metadata {
			flex: 0 1 auto;
		}
	}
}

.comment-metadata,
.reply {
	font-size: var(--global--font-size-xs);
	line-height: var(--global--line-height-heading);
}

.reply {
	text-align: right;
	@include media(mobile) {
		text-align: left;
	}
}

.bypostauthor {
	display: block;
}

.says {
	display: none;
}

.comment-author .fn,
.pingback .url,
.trackback .url {
	font-family: var(--global--font-family-primary);
}

// Comment body
.comment-body {
	position: relative;

	& > * {
		margin-top: var(--global--spacing-vertical);
		margin-bottom: var(--global--spacing-vertical);
	}
}

.comment-content a {
	word-wrap: break-word;
}

// Pingbacks & Trackbacks
.pingback .comment-body,
.trackback .comment-body {
	margin-top: var(--global--spacing-vertical);
	margin-bottom: var(--global--spacing-vertical);
}
