@mixin cover-variables() {
	--cover--height: calc( 15 * var(--global--spacing-vertical) );
	--cover--color-foreground: var(--global--color-white);
	--cover--color-background: var(--global--color-black);
}
