.wp-block-cover,
.wp-block-cover-image {

	background-color: var(--cover--color-background);
	min-height: var(--cover--height);
	margin-top: inherit;
	margin-bottom: inherit;

	.wp-block-cover__inner-container,
	.wp-block-cover-image-text,
	.wp-block-cover-text {
		color: currentColor; // uses text color specified with background-color options in /blocks/utilities/_style.scss
		margin-top: var(--global--spacing-vertical);
		margin-bottom: var(--global--spacing-vertical);

		a {
			color: currentColor;
		}
	}

	/* default & custom background-color */
	&:not([class*='background-color']){
		.wp-block-cover__inner-container,
		.wp-block-cover-image-text,
		.wp-block-cover-text {
			color: var(--cover--color-foreground);
		}
	}

	&.text-dark .wp-block-cover__inner-container {
		p, h1, h2, h3, h4, h5, h6, span, a {
			color: var(--dark);
		}
	}
	&.text-light .wp-block-cover__inner-container {
		p, h1, h2, h3, h4, h5, h6, span, a {
			color: var(--light);
		}
	}

	/* Treating H2 separately to account for legacy /core styles */
	h2 {
		font-size: var(--heading--font-size-h2);
		letter-spacing: var(--heading--letter-spacing-h2);
		line-height: var(--heading--line-height);
		max-width: inherit; // undo opinionated styles
		text-align: inherit; // undo opinionated styles
		padding: 0;

		&.has-text-align-left {
			text-align: left;
		}

		&.has-text-align-center {
			text-align: center;
		}

		&.has-text-align-right {
			text-align: right;
		}
	}

	h5:not(.has-text-color) {
		color: var(--heading--font-color-h5);
	}

	.wp-block-cover__inner-container {
		
		@media screen and (max-width: $content-breakpoint-sm) {
			width: inherit;
			padding-left: var(--global--spacing-horizontal);
			padding-right: var(--global--spacing-horizontal);
		}

		& > * {
			margin-top: 0;
			margin-bottom: 0;

			@include media(mobile) {
				margin-top: var(--global--spacing-vertical);
				margin-bottom: var(--global--spacing-vertical);
			}

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	/**
	 * Block Options
	 */
	&.alignleft,
	&.alignright {
		margin-top: 0;

		> * {
			margin-top: calc(2 * var(--global--spacing-vertical));
			margin-bottom: calc(2 * var(--global--spacing-vertical));
			padding-left: var(--global--spacing-horizontal);
			padding-right: var(--global--spacing-horizontal);
			width: 100%;
		}
	}

	&.has-left-content,
	&.has-right-content {
		justify-content: center;
	}
}
