/**
 * Site Structure
 *
 * - Set vertical margins and responsive widths on
 *   top-level wrappers and content wrappers
 * - `--global--width-content` is a responsive veriable
 * - See: globals/_global-width-responsive.scss
 */

/**
 * Top Level Wrappers (header, main, footer)
 * - Set vertical padding and horizontal margins
 */
.site-main {
	padding: 0 var(--global--spacing-horizontal);
	margin-left: auto;
	margin-right: auto;

	@include media(mobile) {
		padding: 0;
	}
}

/**
 * Site-main children wrappers
 * - Add double vertical margins here for clearer heirarchy
 */
.site-main > * {

	margin-top: calc(3 * var(--global--spacing-vertical));
	margin-bottom: calc(3 * var(--global--spacing-vertical));

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

/**
 * Set the default maximum responsive content-width
 */
.default-max-width {
	@extend %responsive-aligndefault;
}

/**
 * Set the wide maximum responsive content-width
 */
.wide-max-width {
	@extend %responsive-alignwide;
}

/**
 * Set the full maximum responsive content-width
 */
.full-max-width {
	@extend %responsive-alignfull;
}

/*
 * Block & non-gutenberg content wrapper children
 * - Sets spacing-vertical margin logic
 */
.site-main > article > *, // apply vertical margins to article level
.site-main > .not-found > *, // apply vertical margins to article level
.entry-content > *,
[class*="inner-container"] > *,
.widget-area > * {

	margin-top: calc( 0.666 * var(--global--spacing-vertical) );
	margin-bottom: calc( 0.666 * var(--global--spacing-vertical) );

	@include media(mobile) {
		margin-top: var(--global--spacing-vertical);
		margin-bottom: var(--global--spacing-vertical);
	}

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

/*
 * Block & non-gutenberg content wrapper children
 * - Sets spacing-unit margins
 */
.entry-header > *,
.post-thumbnail > *,
.page-content > *,
.comment-content > *,
.author-bio > *,
.widget-area > .widget > * {
	margin-top: var(--global--spacing-unit);
	margin-bottom: var(--global--spacing-unit);

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}


/*
 * .entry-content children specific controls
 * - Adds special margin overrides for alignment utility classes
 */
.entry-content > * {

	&.alignleft,
	&.alignright,
	&.alignleft:first-child + *,
	&.alignright:first-child + *,
	&.alignfull {
		margin-top: 0;
	}

	&:last-child,
	&.alignfull {
		margin-bottom: 0;
	}

	/* Reset alignleft and alignright margins after alignfull */
	&.alignfull + .alignleft,
	&.alignfull + .alignright {
		margin-top: var(--global--spacing-vertical);
	}
}

.vcenter {
	display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.vbottom {
	display: flex;
  flex-direction: column;
  align-content: end;
  justify-content: flex-end;
}
