@mixin latest-posts-variables() {
	--latest-posts--title-font-family: var(--heading--font-family);
	--latest-posts--title-font-size: var(--heading--font-size-h3);
	--latest-posts--description-font-family: var(--global--font-family-secondary);
	--latest-posts--description-font-size: var(--global--font-size-sm);
}
