// Block Styles for the Editor
// - These styles replace key Gutenberg Block styles for fonts, colors, and
//   spacing with CSS-variables overrides in the Block Editor
// - In the future the Block styles may get compiled to individual .css
//   files and conditionally loaded

@import "blog-posts/editor";
@import "button/editor";
@import "code/editor";
@import "coblocks/editor";
@import "contodo/editor";
@import "cover/editor";
@import "gallery/editor";
@import "group/editor";
@import "heading/editor";
@import "image/editor";
@import "latest-comments/editor";
@import "latest-posts/editor";
@import "legacy/editor"; // "Blocks" from the legacy WP editor, ie: galleries, .button class, etc.
@import "list/editor";
@import "media-text/editor";
@import "paragraph/editor";
@import "posts-list/editor";
@import "pullquote/editor";
@import "quote/editor";
@import "separator/editor";
@import "slideshow/editor";
@import "subscription/editor";
@import "table/editor";
@import "utilities/editor"; // Import LAST to cascade properly

.wp-block {
	max-width: none;
}
.container {
	max-width: none !important;
}
.block-editor-writing-flow > div > div > div > div >.block-editor-block-list__layout {
	padding-left: 0px;
	padding-right: 0px;
	max-width: 94%;
	margin: auto;
}
