$greyish-brown:  #444444 !default;
$brown-grey:     #707070 !default;
$grey:           #a3a3a3 !default;
$white:          #ffffff !default;
$light-orange:   #ffa744 !default;
$black:          #333333 !default;
$pumpkin-orange: #ff8700 !default;
$ash:            #f9f9f9 !default;
$turquoise:      #00becd !default;