// Responsive breakpoints mixin
@mixin add_variables( $view: frontend ) {

	@if frontend == $view {
		:root {
			@content;
		}
	}

	@if editor == $view {
		.editor-styles-wrapper {
			@content;
		}
	}
}

// Crop Text Boundry
// - Sets a fixed-width on content within alignwide and alignfull blocks
@mixin crop-text($inset-line-height: 1) {

	line-height: $inset-line-height;
	$offset-top: calc(.5em * #{$inset-line-height} + -.38);
	$offset-bottom: calc(.5em * #{$inset-line-height} + -.39);

	&:before,
	&:after {
		content: '';
		display: block;
		height: 0;
		width: 0;
	}

	&:before {
		margin-bottom: -($offset-top);
	}

	&:after {
		margin-top: -($offset-bottom);
	}
}

@mixin underline-highlight {
	padding: 0 0 1em 0;
	border-bottom: solid 2px;
	border-bottom-color: var(--global--color-primary);
}
