@font-face {
  font-family: "Domaine Display Bold";
  src: url("/wp-content/themes/todo/fonts/domaine-display-web-bold.eot");
  src: url("/wp-content/themes/todo/fonts/domaine-display-web-bold.eot") format("embedded-opentype"),
  url("/wp-content/themes/todo/fonts/domaine-display-web-bold.woff") format("woff"),
  url("/wp-content/themes/todo/fonts/domaine-display-web-bold.woff2") format("woff2");
  font-style: normal;
}
@font-face {
  font-family: "Domaine Display Bold";
  src: url("/wp-content/themes/todo/fonts/domaine-display-web-medium-italic.eot");
  src: url("/wp-content/themes/todo/fonts/domaine-display-web-medium-italic.eot") format("embedded-opentype"),
  url("/wp-content/themes/todo/fonts/domaine-display-web-medium-italic.woff") format("woff"),
  url("/wp-content/themes/todo/fonts/domaine-display-web-medium-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
//  Adobe Nimbus - update this to Contodo account license
@import url("https://use.typekit.net/ugo5ccv.css");

body {
  font-family: nimbus-sans-extended, sans-serif;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}

p {
  color: var(--global--color-secondary);
  font-size: 16px;
  line-height: 1.59;
  letter-spacing: normal;
}

a {
	text-transform: uppercase;
	font-weight: 600;
  font-size: 14px;
  line-height: normal;
  color: var(--dark);
  padding-bottom: 2px;
  &:link,
  &:visited {
    color: var(--dark);
  }
  &:hover {
    text-decoration: none;
    color: var(--global--color-primary-hover);
    padding-bottom: 0;
    border-bottom: 2px solid;
  }
  &.image:hover {
    border-bottom: none;
    padding-bottom: 2px;
  }
}

.has-foreground-color-background-color,
.bg-dark,
.is-style-darkImageRight,
.is-style-darkImageLeft  {
  a {
    color: var(--light);
    &:link,
    &:visited {
      color: var(--light);
    }
    &:hover {
      color: var(--global--color-primary-hover);
    }
  }
}
