@mixin button-variables() {
	// Colors
	--button--color-text: var(--global--color-background);
	--button--color-text-hover: var(--button--color-text);
	--button--color-background: var(--global--color-primary);
	--button--color-background-hover: var(--global--color-primary-hover);

	// Fonts
	--button--font-family: var(--global--font-ui);
	--button--font-size: var(--global--font-size-base);
	--button--font-weight: bold;
	--button--line-height: 1;

	// Borders
	--button--border-width: 2px;
	--button--border-radius: var(--global--border-radius-sm);

	// Spacing
	--button--padding-vertical: calc(var(--global--spacing-horizontal) - var(--button--border-width));
	--button--padding-horizontal: var(--global--spacing-horizontal);
}
