/* Block Alignments */

/**
 * .alignleft
 */
.alignleft {
	/*rtl:ignore*/
	text-align: left;
	/*rtl:ignore*/
	float: left;
	margin-top: 0;
	/*rtl:ignore*/
	margin-right: var(--global--spacing-horizontal);
	margin-bottom: var(--global--spacing-vertical);
}

.entry-content > .alignleft {
	@extend %responsive-alignleft;
}

/**
 * .aligncenter
 */
.aligncenter {
	clear: both;
	display: block;
	float: none;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

/**
 * .alignright
 */
.alignright {
	/*rtl:ignore*/
	float: right;
	margin-top: 0;
	margin-bottom: var(--global--spacing-vertical);
	/*rtl:ignore*/
	margin-left: var(--global--spacing-horizontal);
}

.entry-content > .alignright {
	@extend %responsive-alignright;
}

// Make sure siblings of floated elements are top-aligned when nested
.entry-content * > .alignleft + *,
.entry-content * > .alignright + * {
	margin-top: 0;
}

/**
 * .aligndefault
 */
.entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.entry-attachment),
.entry-content [class*="inner-container"] > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator) {
	@extend %responsive-aligndefault;
}

/**
 * .alignwide
 */
.alignwide {
	clear: both;
}

.entry-content > .alignwide {
	@extend %responsive-alignwide;
}

.entry-content > .alignwide [class*="inner-container"] > .alignwide {
	@extend %responsive-alignwide-nested;
}

/**
 * .alignfull
 */
.alignfull {
	clear: both;
}

.entry-content > .alignfull {
	@extend %responsive-alignfull;
}

.entry-content > .alignfull [class*="inner-container"] > .alignwide {
	@extend %responsive-alignwide-nested;
}

// Content alignment
.has-left-content {
	justify-content: flex-start;
}

.has-right-content {
	justify-content: flex-end;
}

// Parallax
.has-parallax {
	background-attachment: fixed;
}

// Gutenberg text color options
.has-text-color {}

.has-primary-color[class] {
	color: var(--global--color-primary) !important;
}

.has-secondary-color[class] {
	color: var(--global--color-secondary) !important;
}

.has-foreground-color[class] {
	color: var(--global--color-foreground) !important;
}

.has-foreground-light-color[class] {
	color: var(--global--color-foreground-light) !important;
}

.has-foreground-dark-color[class] {
	color: var(--global--color-foreground-dark) !important;
}

.has-background-light-color[class] {
	color: var(--global--color-background-light) !important;
}

.has-background-dark-color[class] {
	color: var(--global--color-background-dark) !important;
}

.has-background-color[class] {
	color: var(--global--color-background) !important;
}

// Gutenberg background-color options
.has-background {
	&:not(.has-background-background-color) a,
	p, h1, h2, h3, h4, h5, h6, .display-1, .display-2, .display-3, .display-4 {
		color: currentColor;
	}
}

.has-primary-background-color[class] {
	background-color: var(--global--color-primary) !important;
	color: var(--global--color-background);
}

.has-secondary-background-color[class] {
	background-color: var(--global--color-secondary) !important;
	color: var(--global--color-background);
}

.has-foreground-background-color[class] {
	background-color: var(--global--color-foreground) !important;
	color: var(--global--color-background);
}

.has-foreground-light-background-color[class] {
	background-color: var(--global--color-foreground-light) !important;
	color: var(--global--color-background);
}

.has-foreground-dark-background-color[class] {
	background-color: var(--global--color-foreground-dark) !important;
	color: var(--global--color-background);
}

.has-background-light-background-color[class] {
	background-color: var(--global--color-background-light) !important;
	color: var(--global--color-foreground);
}

.has-background-dark-background-color[class] {
	background-color: var(--global--color-background-dark) !important;
	color: var(--global--color-foreground);
}

.has-background-background-color[class] {
	background-color: var(--global--color-background) !important;
	color: var(--global--color-foreground);
}

// Gutenberg Font-size options
.is-small-text,
.has-small-font-size {
	font-size: var(--global--font-size-sm);
}

.is-regular-text,
.has-regular-font-size,
.has-normal-font-size,
.has-medium-font-size {
	font-size: var(--global--font-size-base);
}

.is-large-text,
.has-large-font-size {
	font-size: var(--global--font-size-lg);
	line-height: var(--global--line-height-heading);
}

.is-larger-text,
.has-larger-font-size,
.has-huge-font-size {
	font-size: var(--global--font-size-xl);
	line-height: var(--global--line-height-heading);
}

// Drop caps
.has-drop-cap:not(:focus)::first-letter {
	font-family: var(--heading--font-family);
	font-size: calc(2 * var(--heading--font-size-h1));
	font-weight: var(--heading--font-weight);
	line-height: 0.66;
	text-transform: uppercase;
	font-style: normal;
	float: left;
	margin: 0.1em 0.1em 0 0;
}

.has-drop-cap:not(:focus)::after {
	content: "";
	display: table;
	clear: both;
	padding-top: 14px;
}

.desktop-only {
	display: none;

	@include media(mobile) {
		display: block;
	}
}

/**
 * Spacing Overrides
 */

@import "spacing-overrides";
