@charset "UTF-8";
/**
 * These styles should be loaded by the Block Editor only
 */
@import url("https://use.typekit.net/ugo5ccv.css");
.block-editor-editor-skeleton__content .block-editor-block-list__layout {
}

@font-face {
	.block-editor-editor-skeleton__content .block-editor-block-list__layout {
		font-family: "Domaine Display Bold";
		src: url("/wp-content/themes/todo/fonts/domaine-display-web-bold.eot");
		src: url("/wp-content/themes/todo/fonts/domaine-display-web-bold.eot") format("embedded-opentype"), url("/wp-content/themes/todo/fonts/domaine-display-web-bold.woff") format("woff"), url("/wp-content/themes/todo/fonts/domaine-display-web-bold.woff2") format("woff2");
		font-style: normal;
	}
}

@font-face {
	.block-editor-editor-skeleton__content .block-editor-block-list__layout {
		font-family: "Domaine Display Bold";
		src: url("/wp-content/themes/todo/fonts/domaine-display-web-medium-italic.eot");
		src: url("/wp-content/themes/todo/fonts/domaine-display-web-medium-italic.eot") format("embedded-opentype"), url("/wp-content/themes/todo/fonts/domaine-display-web-medium-italic.woff") format("woff"), url("/wp-content/themes/todo/fonts/domaine-display-web-medium-italic.woff2") format("woff2");
		font-weight: 400;
		font-style: italic;
	}
}

.block-editor-editor-skeleton__content .block-editor-block-list__layout body {
	font-family: nimbus-sans-extended, sans-serif;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
}

.block-editor-editor-skeleton__content .block-editor-block-list__layout p {
	color: var(--global--color-secondary);
	font-size: 16px;
	line-height: 1.59;
	letter-spacing: normal;
}

.block-editor-editor-skeleton__content .block-editor-block-list__layout a {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
	line-height: normal;
	color: var(--dark);
	padding-bottom: 2px;
}

.block-editor-editor-skeleton__content .block-editor-block-list__layout a:link, .block-editor-editor-skeleton__content .block-editor-block-list__layout a:visited {
	color: var(--dark);
}

.block-editor-editor-skeleton__content .block-editor-block-list__layout a:hover {
	text-decoration: none;
	color: var(--global--color-primary-hover);
	padding-bottom: 0;
	border-bottom: 2px solid;
}

.block-editor-editor-skeleton__content .block-editor-block-list__layout a.image:hover {
	border-bottom: none;
	padding-bottom: 2px;
}

.block-editor-editor-skeleton__content .block-editor-block-list__layout .has-foreground-color-background-color a,
.block-editor-editor-skeleton__content .block-editor-block-list__layout .bg-dark a,
.block-editor-editor-skeleton__content .block-editor-block-list__layout .is-style-darkImageRight a,
.block-editor-editor-skeleton__content .block-editor-block-list__layout .is-style-darkImageLeft a {
	color: var(--light);
}

.block-editor-editor-skeleton__content .block-editor-block-list__layout .has-foreground-color-background-color a:link, .block-editor-editor-skeleton__content .block-editor-block-list__layout .has-foreground-color-background-color a:visited,
.block-editor-editor-skeleton__content .block-editor-block-list__layout .bg-dark a:link,
.block-editor-editor-skeleton__content .block-editor-block-list__layout .bg-dark a:visited,
.block-editor-editor-skeleton__content .block-editor-block-list__layout .is-style-darkImageRight a:link,
.block-editor-editor-skeleton__content .block-editor-block-list__layout .is-style-darkImageRight a:visited,
.block-editor-editor-skeleton__content .block-editor-block-list__layout .is-style-darkImageLeft a:link,
.block-editor-editor-skeleton__content .block-editor-block-list__layout .is-style-darkImageLeft a:visited {
	color: var(--light);
}

.block-editor-editor-skeleton__content .block-editor-block-list__layout .has-foreground-color-background-color a:hover,
.block-editor-editor-skeleton__content .block-editor-block-list__layout .bg-dark a:hover,
.block-editor-editor-skeleton__content .block-editor-block-list__layout .is-style-darkImageRight a:hover,
.block-editor-editor-skeleton__content .block-editor-block-list__layout .is-style-darkImageLeft a:hover {
	color: var(--global--color-primary-hover);
}

#wpwrap .editor-styles-wrapper {
	color: var(--global--color-foreground);
	background-color: var(--global--color-background);
	font-family: var(--global--font-secondary);
	font-size: var(--global--font-size-root);
	font-weight: normal;
	line-height: var(--global--font-line-height-body);
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

.editor-post-title__block {
	font-size: var(--global--font-size-root);
}

.editor-styles-wrapper a {
	color: var(--global--color-primary);
}

.editor-styles-wrapper a:hover {
	color: var(--global--color-primary-hover);
}

.editor-styles-wrapper button,
.editor-styles-wrapper a {
	cursor: pointer;
}

/**
 * Elements
 * - Styles for basic HTML elemants
 */
blockquote {
	padding-left: var(--global--spacing-horizontal);
}

blockquote p {
	font-size: var(--heading--font-size-h4);
	letter-spacing: var(--heading--letter-spacing-h4);
	line-height: var(--heading--line-height);
}

blockquote cite,
blockquote footer {
	color: var(--global--color-foreground-light);
	font-size: var(--global--font-size-sm);
	letter-spacing: var(--global--letter-spacing-sm);
}

blockquote > * {
	margin-top: var(--global--spacing-unit);
	margin-bottom: var(--global--spacing-unit);
}

blockquote > *:first-child {
	margin-top: 0;
}

blockquote > *:last-child {
	margin-bottom: 0;
}

blockquote.alignleft, blockquote.alignright {
	padding-left: inherit;
}

blockquote.alignleft p, blockquote.alignright p {
	font-size: var(--heading--font-size-h5);
	max-width: inherit;
	width: inherit;
}

blockquote.alignleft cite,
blockquote.alignleft footer, blockquote.alignright cite,
blockquote.alignright footer {
	font-size: var(--global--font-size-xs);
	letter-spacing: var(--global--letter-spacing-xs);
}

figcaption {
	color: var(--global--color-foreground-light);
	font-size: var(--global--font-size-xs);
	line-height: var(--global--font-line-height-xs);
	margin-top: calc(0.5 * var(--global--spacing-unit));
	margin-bottom: var(--global--spacing-unit);
	text-align: center;
}

.alignleft figcaption,
.alignright figcaption {
	margin-bottom: 0;
}

/* WP Smiley */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

.editor-styles-wrapper .wp-block-a8c-blog-posts.image-aligntop .post-thumbnail {
	margin-bottom: calc(0.5 * var(--global--spacing-vertical));
}

.editor-styles-wrapper .wp-block-a8c-blog-posts.image-alignleft .post-thumbnail {
	margin-right: var(--global--spacing-vertical);
}

.editor-styles-wrapper .wp-block-a8c-blog-posts.image-alignright .post-thumbnail {
	margin-left: var(--global--spacing-vertical);
}

.editor-styles-wrapper .wp-block-a8c-blog-posts.image-alignbehind .post-has-image .entry-wrapper {
	padding: var(--global--spacing-vertical);
}

.editor-styles-wrapper .wp-block-a8c-blog-posts.image-alignbehind .post-has-image .cat-links {
	color: var(--global--color-white);
}

.editor-styles-wrapper .wp-block-a8c-blog-posts.image-alignbehind .post-has-image a:hover {
	color: currentColor;
}

.editor-styles-wrapper .wp-block-a8c-blog-posts .article-section-title {
	font-size: var(--global--font-size-base);
	margin-top: 0;
	margin-bottom: calc(0.5 * var(--global--spacing-vertical));
}

.editor-styles-wrapper .wp-block-a8c-blog-posts article {
	margin-bottom: calc(2 * var(--global--spacing-vertical));
}

@media only screen and (min-width: 560px) {
	.editor-styles-wrapper .wp-block-a8c-blog-posts article {
		margin-bottom: calc(3 * var(--global--spacing-vertical));
	}
}

.editor-styles-wrapper .wp-block-a8c-blog-posts .post-thumbnail img {
	vertical-align: middle;
	width: auto;
}

.editor-styles-wrapper .wp-block-a8c-blog-posts .entry-wrapper > * {
	/* Vertical margins logic between post details */
	margin-top: var(--global--spacing-unit);
	margin-bottom: var(--global--spacing-unit);
}

.editor-styles-wrapper .wp-block-a8c-blog-posts .entry-wrapper > *:first-child {
	margin-top: 0;
}

.editor-styles-wrapper .wp-block-a8c-blog-posts .entry-wrapper > *:last-child {
	margin-bottom: 0;
}

.editor-styles-wrapper .wp-block-a8c-blog-posts .entry-title a {
	color: var(--global--color-primary);
}

.has-background:not(.has-background-background-color) .editor-styles-wrapper .wp-block-a8c-blog-posts .entry-title a,
[class*="background-color"]:not(.has-background-background-color) .editor-styles-wrapper .wp-block-a8c-blog-posts .entry-title a,
[style*="background-color"] .editor-styles-wrapper .wp-block-a8c-blog-posts .entry-title a {
	color: currentColor;
}

.editor-styles-wrapper .wp-block-a8c-blog-posts .entry-title a:hover {
	color: var(--global--color-primary-hover);
	text-decoration: underline;
}

.has-background:not(.has-background-background-color) .editor-styles-wrapper .wp-block-a8c-blog-posts .entry-title a,
[class*="background-color"]:not(.has-background-background-color) .editor-styles-wrapper .wp-block-a8c-blog-posts .entry-title a,
[style*="background-color"] .editor-styles-wrapper .wp-block-a8c-blog-posts .entry-title a {
	color: currentColor;
}

.editor-styles-wrapper .wp-block-a8c-blog-posts .more-link {
	display: block;
	color: inherit;
	margin-top: var(--global--spacing-unit);
}

.editor-styles-wrapper .wp-block-a8c-blog-posts .more-link:after {
	content: "\02192";
	display: inline-block;
	margin-left: 0.5em;
}

.editor-styles-wrapper .wp-block-a8c-blog-posts .more-link:hover, .editor-styles-wrapper .wp-block-a8c-blog-posts .more-link:active {
	color: var(--global--color-primary-hover);
	text-decoration: none;
}

.has-background:not(.has-background-background-color) .editor-styles-wrapper .wp-block-a8c-blog-posts .more-link:hover,
[class*="background-color"]:not(.has-background-background-color) .editor-styles-wrapper .wp-block-a8c-blog-posts .more-link:hover,
[style*="background-color"] .editor-styles-wrapper .wp-block-a8c-blog-posts .more-link:hover, .has-background:not(.has-background-background-color) .editor-styles-wrapper .wp-block-a8c-blog-posts .more-link:active,
[class*="background-color"]:not(.has-background-background-color) .editor-styles-wrapper .wp-block-a8c-blog-posts .more-link:active,
[style*="background-color"] .editor-styles-wrapper .wp-block-a8c-blog-posts .more-link:active {
	color: currentColor;
}

.editor-styles-wrapper .wp-block-a8c-blog-posts .entry-meta,
.editor-styles-wrapper .wp-block-a8c-blog-posts .cat-links {
	color: var(--global--color-foreground-light);
	font-size: var(--global--font-size-sm);
}

.has-background:not(.has-background-background-color) .editor-styles-wrapper .wp-block-a8c-blog-posts .entry-meta,
[class*="background-color"]:not(.has-background-background-color) .editor-styles-wrapper .wp-block-a8c-blog-posts .entry-meta,
[style*="background-color"] .editor-styles-wrapper .wp-block-a8c-blog-posts .entry-meta, .has-background:not(.has-background-background-color)
.editor-styles-wrapper .wp-block-a8c-blog-posts .cat-links,
[class*="background-color"]:not(.has-background-background-color)
.editor-styles-wrapper .wp-block-a8c-blog-posts .cat-links,
[style*="background-color"]
.editor-styles-wrapper .wp-block-a8c-blog-posts .cat-links {
	color: currentColor;
}

.editor-styles-wrapper .wp-block-a8c-blog-posts .entry-meta .byline:not(:last-child),
.editor-styles-wrapper .wp-block-a8c-blog-posts .cat-links .byline:not(:last-child) {
	margin-right: var(--global--spacing-unit);
}

.editor-styles-wrapper .wp-block-a8c-blog-posts .entry-meta .published + .updated,
.editor-styles-wrapper .wp-block-a8c-blog-posts .cat-links .published + .updated {
	display: none;
}

.editor-styles-wrapper .wp-block-a8c-blog-posts .entry-meta a,
.editor-styles-wrapper .wp-block-a8c-blog-posts .cat-links a {
	color: currentColor;
	text-decoration: underline;
}

.editor-styles-wrapper .wp-block-a8c-blog-posts .entry-meta a:hover, .editor-styles-wrapper .wp-block-a8c-blog-posts .entry-meta a:active,
.editor-styles-wrapper .wp-block-a8c-blog-posts .cat-links a:hover,
.editor-styles-wrapper .wp-block-a8c-blog-posts .cat-links a:active {
	color: var(--global--color-primary-hover);
	text-decoration: none;
}

.has-background:not(.has-background-background-color) .editor-styles-wrapper .wp-block-a8c-blog-posts .entry-meta a:hover,
[class*="background-color"]:not(.has-background-background-color) .editor-styles-wrapper .wp-block-a8c-blog-posts .entry-meta a:hover,
[style*="background-color"] .editor-styles-wrapper .wp-block-a8c-blog-posts .entry-meta a:hover, .has-background:not(.has-background-background-color) .editor-styles-wrapper .wp-block-a8c-blog-posts .entry-meta a:active,
[class*="background-color"]:not(.has-background-background-color) .editor-styles-wrapper .wp-block-a8c-blog-posts .entry-meta a:active,
[style*="background-color"] .editor-styles-wrapper .wp-block-a8c-blog-posts .entry-meta a:active, .has-background:not(.has-background-background-color)
.editor-styles-wrapper .wp-block-a8c-blog-posts .cat-links a:hover,
[class*="background-color"]:not(.has-background-background-color)
.editor-styles-wrapper .wp-block-a8c-blog-posts .cat-links a:hover,
[style*="background-color"]
.editor-styles-wrapper .wp-block-a8c-blog-posts .cat-links a:hover, .has-background:not(.has-background-background-color)
.editor-styles-wrapper .wp-block-a8c-blog-posts .cat-links a:active,
[class*="background-color"]:not(.has-background-background-color)
.editor-styles-wrapper .wp-block-a8c-blog-posts .cat-links a:active,
[style*="background-color"]
.editor-styles-wrapper .wp-block-a8c-blog-posts .cat-links a:active {
	color: currentColor;
}

.wp-block-a8c-blog-posts + .button {
	line-height: var(--button--line-height);
	color: var(--button--color-text);
	cursor: pointer;
	font-weight: var(--button--font-weight);
	font-family: var(--button--font-family);
	font-size: var(--button--font-size);
	background-color: var(--button--color-background);
	border-radius: var(--button--border-radius);
	border-width: 0;
	text-decoration: none;
	padding: var(--button--padding-vertical) var(--button--padding-horizontal);
}

.wp-block-a8c-blog-posts + .button:before, .wp-block-a8c-blog-posts + .button:after {
	content: '';
	display: block;
	height: 0;
	width: 0;
}

.wp-block-a8c-blog-posts + .button:before {
	margin-bottom: -calc(.5em * var(--button--line-height) + -.38);
}

.wp-block-a8c-blog-posts + .button:after {
	margin-top: -calc(.5em * var(--button--line-height) + -.39);
}

.wp-block-a8c-blog-posts + .button:hover, .wp-block-a8c-blog-posts + .button:focus, .wp-block-a8c-blog-posts + .has-focus.button {
	color: var(--button--color-text-hover);
	background-color: var(--button--color-background-hover);
}

.wp-block-a8c-blog-posts + .button {
	display: inline-block;
	font-size: var(--global--font-size-md);
}

.wp-block-a8c-blog-posts + .button:hover {
	cursor: default;
}

.has-background:not(.has-background-background-color) .wp-block-a8c-blog-posts + .button,
[class*="background-color"]:not(.has-background-background-color) .wp-block-a8c-blog-posts + .button,
[style*="background-color"] .wp-block-a8c-blog-posts + .button {
	background-color: transparent;
	border: var(--button--border-width, 2px) solid currentColor;
	color: currentColor;
}

.editor-styles-wrapper .wp-block-button .wp-block-button__link {
	color: var(--button--color-text);
	font-weight: var(--button--font-weight);
	font-family: var(--button--font-family);
	font-size: var(--button--font-size);
	line-height: var(--button--line-height);
	background-color: var(--button--color-background);
	border-radius: var(--button--border-radius);
	padding: var(--button--padding-vertical) var(--button--padding-horizontal);
}

.editor-styles-wrapper .wp-block-button .wp-block-button__link:hover, .editor-styles-wrapper .wp-block-button .wp-block-button__link:focus, .editor-styles-wrapper .wp-block-button .wp-block-button__link.has-focus {
	color: var(--button--color-text-hover);
	background-color: var(--button--color-background-hover);
}

.editor-styles-wrapper .wp-block-button.is-style-outline .wp-block-button__link {
	color: var(--button--color-background);
	background: transparent;
	border: 2px solid currentcolor;
}

.editor-styles-wrapper .wp-block-button.is-style-outline .wp-block-button__link:hover, .editor-styles-wrapper .wp-block-button.is-style-outline .wp-block-button__link:focus, .editor-styles-wrapper .wp-block-button.is-style-outline .wp-block-button__link.has-focus {
	color: var(--button--color-background-hover);
}

.editor-styles-wrapper .wp-block-button.is-style-squared .wp-block-button__link {
	border-radius: 0;
}

.wp-block-coblocks-gallery-carousel {
	overflow: hidden;
	/*&.dots-below {
		margin-bottom: 5rem;
		overflow-y: visible;
		.is-cropped {
			overflow-y: visible;
		}
		.flickity-viewport {
			overflow-y: hidden;
		}
		.flickity-page-dots {
			bottom: -20px;
		}
	}*/
}

.wp-block-coblocks-gallery-carousel .flickity-page-dots .dot {
	background: rgba(0, 0, 0, 0.8);
	border: thin solid #000;
}

.wp-block-coblocks-gallery-carousel .flickity-page-dots .dot.is-selected {
	background: rgba(255, 255, 255, 0.75);
}

@media only screen and (min-width: 782px) {
	.wp-block-coblocks-gallery-carousel.has-responsive-height.rh36 .has-carousel {
		padding-bottom: 36%;
	}
	.wp-block-coblocks-gallery-carousel.has-responsive-height.rh40 .has-carousel {
		padding-bottom: 40%;
	}
	.wp-block-coblocks-gallery-carousel.has-responsive-height.rh46 .has-carousel {
		padding-bottom: 46%;
	}
	.wp-block-coblocks-gallery-carousel.has-responsive-height.rh50 .has-carousel {
		padding-bottom: 50%;
	}
	.wp-block-coblocks-gallery-carousel.has-responsive-height.rh400 .has-carousel {
		padding-bottom: 400px;
	}
	.wp-block-coblocks-gallery-carousel.has-responsive-height.rh500 .has-carousel {
		padding-bottom: 500px;
	}
	.wp-block-coblocks-gallery-carousel.has-responsive-height.rh600 .has-carousel {
		padding-bottom: 600px;
	}
}

.wp-block-coblocks-gallery-carousel .has-no-arrows.coblocks-gallery.is-selected .flickity-prev-next-button {
	display: none;
}

.wp-block-contodo-components-collaborator-card {
	padding: 1em 0;
}

.wp-block-contodo-components-collaborator-card h4 {
	color: var(--global--color-black);
	font-size: 18px;
	font-weight: bold;
	line-height: normal;
}

.wp-block-contodo-components-collaborator-card h5 {
	color: var(--global--color-secondary);
	font-size: 13px;
	line-height: 1.54;
	font-weight: normal;
	letter-spacing: 0.5px;
}

.wp-block-contodo-components-collaborator-card a.components-external-link {
	color: var(--global--color-secondary);
	text-transform: capitalize;
	font-size: 14px;
	line-height: 1.36;
	font-weight: normal;
	display: block;
}

.wp-block-contodo-components-collaborator-card a.components-external-link:hover {
	border-bottom: none;
	padding-bottom: 2px;
}

.wp-block-contodo-components-collaborator-card a.components-external-link svg {
	display: none;
}

.contodo-hero.two-up .content {
	padding-right: var(--global--spacing-vertical);
	padding-left: var(--global--spacing-vertical);
}

.contodo-hero.two-up .image {
	max-height: 100%;
}

.contodo-hero.two-up.is-style-darkImageRight, .contodo-hero.two-up.is-style-darkImageLeft {
	background: var(--global--color-black);
	color: var(--global--color-white);
}

.contodo-hero.two-up.is-style-darkImageRight h2, .contodo-hero.two-up.is-style-darkImageRight p, .contodo-hero.two-up.is-style-darkImageLeft h2, .contodo-hero.two-up.is-style-darkImageLeft p {
	color: var(--global--color-white);
}

.contodo-hero.two-up.is-style-darkImageRight .content, .contodo-hero.two-up.is-style-lightImageRight .content {
	margin-left: auto;
}

@media only screen and (min-width: 640px) {
	.contodo-hero.two-up.is-style-darkImageRight .content, .contodo-hero.two-up.is-style-lightImageRight .content {
		margin-right: inherit;
	}
}

.contodo-hero.two-up.is-style-darkImageLeft .content, .contodo-hero.two-up.is-style-lightImageLeft .content {
	margin-right: auto;
}

@media only screen and (min-width: 640px) {
	.contodo-hero.two-up.is-style-darkImageLeft .content, .contodo-hero.two-up.is-style-lightImageLeft .content {
		padding-left: 4rem;
		margin-left: inherit;
	}
}

@media only screen and (min-width: 560px) {
	.contodo-hero.two-up .content {
		max-width: calc(560px - 32px);
		margin: auto;
		padding-right: var(--global--spacing-horizontal);
		padding-left: var(--global--spacing-horizontal);
	}
}

@media only screen and (min-width: 640px) {
	.contodo-hero.two-up.image-25 .content {
		max-width: calc(75vw - (100vw - var(--global--width-content))/2);
	}
	.contodo-hero.two-up.image-33 .content {
		max-width: calc(67vw - (100vw - var(--global--width-content))/2);
	}
	.contodo-hero.two-up.image-42 .content {
		max-width: calc(58vw - (100vw - var(--global--width-content))/2);
	}
	.contodo-hero.two-up.image-50 .content {
		max-width: calc(50vw - (100vw - var(--global--width-content))/2);
	}
	.contodo-hero.two-up.image-58 .content {
		max-width: calc(42vw - (100vw - var(--global--width-content))/2);
	}
	.contodo-hero.two-up.image-67 .content {
		max-width: calc(33vw - (100vw - var(--global--width-content))/2);
	}
	.contodo-hero.two-up.image-75 .content {
		max-width: calc(25vw - (100vw - var(--global--width-content))/2);
	}
	.contodo-hero.two-up p {
		max-width: 400px;
	}
}

.wp-block-contodo-components-project-card.card {
	border: none;
	border-radius: none;
	margin-bottom: 5rem;
}

.wp-block-contodo-components-project-card.card figure {
	margin-left: calc(-15px - var(--global--spacing-horizontal));
	margin-right: calc(-15px - var(--global--spacing-horizontal));
}

.wp-block-contodo-components-project-card.card h2 {
	margin: 2rem 0 0.25rem;
	font-size: 34px;
}

.wp-block-contodo-components-project-card.card .description p {
	font-size: 18px;
}

.wp-block-contodo-components-project-card.card a {
	text-transform: none;
	font-weight: inherit;
}

@media only screen and (min-width: 640px) {
	.wp-block-contodo-components-project-card.card figure {
		margin-left: 0px;
		margin-right: 0px;
	}
}

.sticky {
	position: sticky;
	top: 64px;
}

.sticky.right {
	margin-right: calc( (100% - var(--global--width-content))/2);
}

.col > .sticky {
	padding-left: 15px;
	padding-right: 15px;
	max-width: 100%;
	width: inherit;
}

.col > .sticky.left {
	padding-left: 0;
	padding-right: 0;
}

.contodo.testamonial {
	padding-top: 6rem;
	padding-bottom: 6rem;
}

.contodo.testamonial h3, .contodo.testamonial h5 {
	color: inherit;
}

.contodo.testamonial h3::before {
	content: '“';
}

.contodo.testamonial h3::after {
	content: '”';
}

.contodo.testamonial h5 {
	margin: 0;
}

.wp-block-contodo-components-project-card.card {
	padding: 0;
}

.editor-styles-wrapper .wp-block-cover,
.editor-styles-wrapper .wp-block-cover-image {
	background-color: var(--cover--color-background);
	color: var(--cover--color-foreground);
	min-height: var(--cover--height);
	margin-top: inherit;
	margin-bottom: inherit;
}

.editor-styles-wrapper .wp-block-cover .wp-block-cover__inner-container,
.editor-styles-wrapper .wp-block-cover .wp-block-cover-image-text,
.editor-styles-wrapper .wp-block-cover .wp-block-cover-text,
.editor-styles-wrapper .wp-block-cover .block-editor-block-list__block,
.editor-styles-wrapper .wp-block-cover-image .wp-block-cover__inner-container,
.editor-styles-wrapper .wp-block-cover-image .wp-block-cover-image-text,
.editor-styles-wrapper .wp-block-cover-image .wp-block-cover-text,
.editor-styles-wrapper .wp-block-cover-image .block-editor-block-list__block {
	color: currentColor;
}

.editor-styles-wrapper .wp-block-cover .wp-block-cover__inner-container a,
.editor-styles-wrapper .wp-block-cover .wp-block-cover-image-text a,
.editor-styles-wrapper .wp-block-cover .wp-block-cover-text a,
.editor-styles-wrapper .wp-block-cover .block-editor-block-list__block a,
.editor-styles-wrapper .wp-block-cover-image .wp-block-cover__inner-container a,
.editor-styles-wrapper .wp-block-cover-image .wp-block-cover-image-text a,
.editor-styles-wrapper .wp-block-cover-image .wp-block-cover-text a,
.editor-styles-wrapper .wp-block-cover-image .block-editor-block-list__block a {
	color: currentColor;
}

.editor-styles-wrapper .wp-block-cover:not([class*='background-color']) .wp-block-cover__inner-container,
.editor-styles-wrapper .wp-block-cover:not([class*='background-color']) .wp-block-cover-image-text,
.editor-styles-wrapper .wp-block-cover:not([class*='background-color']) .wp-block-cover-text,
.editor-styles-wrapper .wp-block-cover:not([class*='background-color']) .block-editor-block-list__block,
.editor-styles-wrapper .wp-block-cover-image:not([class*='background-color']) .wp-block-cover__inner-container,
.editor-styles-wrapper .wp-block-cover-image:not([class*='background-color']) .wp-block-cover-image-text,
.editor-styles-wrapper .wp-block-cover-image:not([class*='background-color']) .wp-block-cover-text,
.editor-styles-wrapper .wp-block-cover-image:not([class*='background-color']) .block-editor-block-list__block {
	color: var(--cover--color-foreground);
}

.editor-styles-wrapper .wp-block-cover h2,
.editor-styles-wrapper .wp-block-cover-image h2 {
	font-size: var(--heading--font-size-h2);
	letter-spacing: var(--heading--letter-spacing-h2);
	line-height: var(--heading--line-height);
	padding: 0;
	max-width: inherit;
	text-align: inherit;
}

.editor-styles-wrapper .wp-block-cover h2.has-text-align-left,
.editor-styles-wrapper .wp-block-cover-image h2.has-text-align-left {
	text-align: left;
}

.editor-styles-wrapper .wp-block-cover h2.has-text-align-center,
.editor-styles-wrapper .wp-block-cover-image h2.has-text-align-center {
	text-align: center;
}

.editor-styles-wrapper .wp-block-cover h2.has-text-align-right,
.editor-styles-wrapper .wp-block-cover-image h2.has-text-align-right {
	text-align: right;
}

.editor-styles-wrapper .wp-block-cover h5:not(.has-text-color),
.editor-styles-wrapper .wp-block-cover-image h5:not(.has-text-color) {
	color: var(--heading--font-color-h5);
}

.editor-styles-wrapper .wp-block-gallery figcaption {
	margin-bottom: 0;
}

.editor-styles-wrapper .wp-block-group.has-background {
	padding: calc( 0.666 * var(--global--spacing-vertical));
}

@media only screen and (min-width: 560px) {
	.editor-styles-wrapper .wp-block-group.has-background {
		padding: var(--global--spacing-vertical);
	}
}

.editor-styles-wrapper .wp-block[data-type="core/group"] > .editor-block-list__block-edit > div > .wp-block-group.has-background > .wp-block-group__inner-container > .editor-inner-blocks > .editor-block-list__layout > .wp-block[data-align=full] {
	margin: 0;
	width: 100%;
}

.editor-styles-wrapper .wp-block-heading h1, .editor-styles-wrapper h1, .editor-styles-wrapper .h1,
.editor-styles-wrapper .wp-block-heading h2, .editor-styles-wrapper h2, .editor-styles-wrapper .h2,
.editor-styles-wrapper .wp-block-heading h3, .editor-styles-wrapper h3, .editor-styles-wrapper .h3,
.editor-styles-wrapper .wp-block-heading h4, .editor-styles-wrapper h4, .editor-styles-wrapper .h4,
.editor-styles-wrapper .wp-block-heading h5, .editor-styles-wrapper h5, .editor-styles-wrapper .h5,
.editor-styles-wrapper .wp-block-heading h6, .editor-styles-wrapper h6, .editor-styles-wrapper .h6 {
	clear: both;
	font-family: var(--heading--font-family);
	font-weight: var(--heading--font-weight);
	margin-bottom: var(--heading--margin-bottom);
}

.editor-styles-wrapper .wp-block-heading h4, .editor-styles-wrapper h4, .editor-styles-wrapper .h4,
.editor-styles-wrapper .wp-block-heading h5, .editor-styles-wrapper h5, .editor-styles-wrapper .h5,
.editor-styles-wrapper .wp-block-heading h6, .editor-styles-wrapper h6, .editor-styles-wrapper .h6 {
	font-family: nimbus-sans-extended, sans-serif;
}

.editor-styles-wrapper .wp-block-heading h1, .editor-styles-wrapper h1, .editor-styles-wrapper .h1 {
	font-size: var(--heading--font-size-h1);
	letter-spacing: var(--heading--letter-spacing-h1);
	line-height: var(--heading--line-height);
	color: var(--heading--font-color-h1);
	font-weight: var(--heading--font-weight-h1);
}

.editor-styles-wrapper .wp-block-heading h2, .editor-styles-wrapper h2, .editor-styles-wrapper .h2 {
	font-size: var(--heading--font-size-h2);
	letter-spacing: var(--heading--letter-spacing-h2);
	line-height: var(--heading--line-height);
	color: var(--heading--font-color-h2);
	font-weight: var(--heading--font-weight-h2);
}

.editor-styles-wrapper .wp-block-heading h3, .editor-styles-wrapper h3, .editor-styles-wrapper .h3 {
	font-size: var(--heading--font-size-h3);
	letter-spacing: var(--heading--letter-spacing-h3);
	line-height: var(--heading--line-height);
	color: var(--heading--font-color-h3);
	font-weight: var(--heading--font-weight-h3);
}

.editor-styles-wrapper .wp-block-heading h4, .editor-styles-wrapper h4, .editor-styles-wrapper .h4 {
	font-size: var(--heading--font-size-h4);
	letter-spacing: var(--heading--letter-spacing-h4);
	line-height: var(--heading--line-height);
	color: var(--heading--font-color-h4);
	font-weight: var(--heading--font-weight-h4);
}

.editor-styles-wrapper .wp-block-heading h5, .editor-styles-wrapper h5, .editor-styles-wrapper .h5 {
	font-size: var(--heading--font-size-h5);
	letter-spacing: var(--heading--letter-spacing-h5);
	line-height: var(--global--line-height-body);
	color: var(--heading--font-color-h5);
	font-weight: var(--heading--font-weight-h5);
	text-transform: uppercase;
}

.editor-styles-wrapper .wp-block-heading h6, .editor-styles-wrapper h6, .editor-styles-wrapper .h6 {
	font-size: var(--heading--font-size-h6);
	letter-spacing: var(--heading--letter-spacing-h6);
	line-height: var(--global--line-height-body);
	color: var(--heading--font-color-h6);
	font-weight: var(--heading--font-weight-h6);
}

/* Center image block by default in the editor */
.editor-styles-wrapper .wp-block-image > div {
	text-align: center;
}

.editor-styles-wrapper [data-type="core/image"] .block-editor-block-list__block-edit figure.is-resized {
	margin: 0 auto;
}

.editor-styles-wrapper .wp-block-latest-comments {
	margin-left: 0;
}

.editor-styles-wrapper .wp-block-latest-posts {
	padding-left: 0;
}

.editor-styles-wrapper .wp-block-latest-posts:not(.is-grid) > li {
	margin-top: var(--global--spacing-vertical);
	margin-bottom: var(--global--spacing-vertical);
}

.editor-styles-wrapper .wp-block-latest-posts:not(.is-grid) > li:first-child {
	margin-top: 0;
}

.editor-styles-wrapper .wp-block-latest-posts:not(.is-grid) > li:last-child {
	margin-bottom: 0;
}

.editor-styles-wrapper .wp-block-latest-posts.is-grid > li {
	margin-bottom: var(--global--spacing-vertical);
}

.editor-styles-wrapper .wp-block-latest-posts.is-grid > li:last-child {
	margin-bottom: 0;
}

.editor-styles-wrapper .wp-block-latest-posts > li > * {
	margin-top: calc(0.5 * var(--global--spacing-vertical));
	margin-bottom: calc(0.5 * var(--global--spacing-vertical));
}

.editor-styles-wrapper .wp-block-latest-posts > li > *:first-child {
	margin-top: 0;
}

.editor-styles-wrapper .wp-block-latest-posts > li > *:last-child {
	margin-bottom: 0;
}

.editor-styles-wrapper .wp-block-latest-posts > li > a {
	font-family: var(--latest-posts--title-font-family);
	font-size: var(--latest-posts--title-font-size);
	font-weight: var(--heading--font-weight);
	line-height: var(--global--line-height-heading);
}

.editor-styles-wrapper .wp-block-latest-posts .wp-block-latest-posts__post-date {
	color: var(--global--color-foreground-light);
	font-size: var(--global--font-size-xs);
	line-height: var(--global--line-height-body);
}

[class*="inner-container"] .editor-styles-wrapper .wp-block-latest-posts .wp-block-latest-posts__post-date,
.has-background .editor-styles-wrapper .wp-block-latest-posts .wp-block-latest-posts__post-date {
	color: currentColor;
}

.editor-styles-wrapper .wp-block-latest-posts .wp-block-latest-posts__post-excerpt,
.editor-styles-wrapper .wp-block-latest-posts .wp-block-latest-posts__post-full-content {
	font-family: var(--latest-posts--description-font-family);
	font-size: var(--latest-posts--description-font-size);
	line-height: var(--global--line-height-body);
}

.editor-styles-wrapper .gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .editor-styles-wrapper .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .editor-styles-wrapper .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .editor-styles-wrapper .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .editor-styles-wrapper .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .editor-styles-wrapper .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .editor-styles-wrapper .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .editor-styles-wrapper .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .editor-styles-wrapper .gallery-item {
	max-width: 11.11%;
}

.editor-styles-wrapper .gallery-caption {
	display: block;
}

.editor-styles-wrapper ul,
.editor-styles-wrapper ol {
	font-family: var(--list--font-family);
	margin: var(--global--spacing-vertical) 0;
	padding-left: calc( 2 * var(--global--spacing-horizontal));
}

.editor-styles-wrapper ul.aligncenter,
.editor-styles-wrapper ol.aligncenter {
	list-style-position: inside;
	padding: 0;
}

.editor-styles-wrapper ul.alignright,
.editor-styles-wrapper ol.alignright {
	list-style-position: inside;
	text-align: right;
	padding: 0;
}

.editor-styles-wrapper li > ul,
.editor-styles-wrapper li > ol {
	margin: 0;
}

.editor-styles-wrapper dt {
	font-family: var(--definition-term--font-family);
	font-weight: bold;
}

.wp-block-media-text .block-editor-inner-blocks {
	padding-right: var(--global--spacing-horizontal);
	padding-left: var(--global--spacing-horizontal);
}

@media only screen and (min-width: 640px) {
	.wp-block-media-text .block-editor-inner-blocks {
		padding-right: var(--global--spacing-vertical);
		padding-left: var(--global--spacing-vertical);
	}
}

.wp-block-media-text[style*="background-color"]:not(.has-background-background-color) a {
	color: currentColor;
}

.editor-styles-wrapper p.has-background {
	padding: var(--global--spacing-unit);
}

.editor-styles-wrapper p.has-background:not(.has-background-background-color) a {
	color: currentColor;
}

.editor-styles-wrapper .a8c-posts-list {
	padding-left: 0;
}

.editor-styles-wrapper .wp-block-pullquote {
	padding: calc( 3 * var(--global--spacing-unit)) 0;
	margin-left: 0;
	margin-right: 0;
	text-align: center;
	border-top-color: var(--pullquote--color-border);
	border-top-width: var(--pullquote--border-width);
	border-bottom-color: var(--pullquote--color-border);
	border-bottom-width: var(--pullquote--border-width);
	color: var(--pullquote--color-foreground);
}

.editor-styles-wrapper .wp-block-pullquote blockquote {
	padding-left: 0;
}

.editor-styles-wrapper .wp-block-pullquote p {
	font-family: var(--pullquote--font-family);
	font-size: var(--heading--font-size-h4);
	letter-spacing: var(--heading--letter-spacing-h4);
	line-height: var(--heading--line-height);
}

.editor-styles-wrapper .wp-block-pullquote a {
	color: currentColor;
}

.editor-styles-wrapper .wp-block-pullquote .wp-block-pullquote__citation,
.editor-styles-wrapper .wp-block-pullquote cite,
.editor-styles-wrapper .wp-block-pullquote footer {
	color: var(--global--color-foreground-light);
	font-size: var(--global--font-size-sm);
}

.editor-styles-wrapper .wp-block-pullquote:not(.is-style-solid-color) {
	background: none;
}

.editor-styles-wrapper .wp-block-pullquote.is-style-solid-color {
	background-color: var(--pullquote--color-foreground);
	color: var(--pullquote--color-background);
}

.editor-styles-wrapper .wp-block-pullquote.is-style-solid-color.alignleft blockquote,
.editor-styles-wrapper .wp-block-pullquote.is-style-solid-color.alignright blockquote {
	padding-left: var(--global--spacing-unit);
	padding-right: var(--global--spacing-unit);
	max-width: inherit;
}

.editor-styles-wrapper .wp-block-pullquote.is-style-solid-color blockquote {
	padding-left: 0;
}

.editor-styles-wrapper .wp-block-pullquote.is-style-solid-color .wp-block-pullquote__citation,
.editor-styles-wrapper .wp-block-pullquote.is-style-solid-color cite,
.editor-styles-wrapper .wp-block-pullquote.is-style-solid-color footer {
	color: currentColor;
}

.editor-styles-wrapper .wp-block-pullquote.alignwide > p,
.editor-styles-wrapper .wp-block-pullquote.alignfull > p,
.editor-styles-wrapper .wp-block-pullquote.alignwide blockquote,
.editor-styles-wrapper .wp-block-pullquote.alignfull blockquote {
	margin-left: auto;
	margin-right: auto;
}

.editor-styles-wrapper .wp-block-quote {
	border-left-color: var(--quote--border-color);
	margin: var(--global--spacing-vertical) 0;
	padding-left: var(--global--spacing-horizontal);
}

.editor-styles-wrapper .wp-block-quote p {
	font-family: var(--quote--font-family);
	font-size: var(--heading--font-size-h4);
	letter-spacing: var(--heading--letter-spacing-h4);
	line-height: var(--global--line-height-h4);
}

.editor-styles-wrapper .wp-block-quote.is-large, .editor-styles-wrapper .wp-block-quote.is-style-large {
	border: none;
	padding: 0;
}

.editor-styles-wrapper .wp-block-quote.is-large p, .editor-styles-wrapper .wp-block-quote.is-style-large p {
	font-family: var(--quote--font-family);
	font-size: var(--heading--font-size-h3);
	letter-spacing: var(--heading--letter-spacing-h3);
	line-height: var(--global--line-height-h3);
}

.has-background:not(.has-background-background-color) .editor-styles-wrapper .wp-block-quote,
[class*="background-color"]:not(.has-background-background-color) .editor-styles-wrapper .wp-block-quote,
[style*="background-color"]:not(.has-background-background-color) .editor-styles-wrapper .wp-block-quote,
.wp-block-cover[style*="background-image"] .editor-styles-wrapper .wp-block-quote {
	border-color: currentColor;
}

.editor-styles-wrapper .wp-block-quote .wp-block-quote__citation {
	color: var(--global--color-foreground-light);
	font-size: var(--global--font-size-sm);
}

.has-background:not(.has-background-background-color) .editor-styles-wrapper .wp-block-quote .wp-block-quote__citation,
[class*="background-color"]:not(.has-background-background-color) .editor-styles-wrapper .wp-block-quote .wp-block-quote__citation,
[style*="background-color"]:not(.has-background-background-color) .editor-styles-wrapper .wp-block-quote .wp-block-quote__citation,
.wp-block-cover[style*="background-image"] .editor-styles-wrapper .wp-block-quote .wp-block-quote__citation {
	color: currentColor;
}

.editor-styles-wrapper .wp-block-separator,
.editor-styles-wrapper hr {
	border-bottom: var(--separator--height) solid var(--separator--border-color);
	clear: both;
}

.editor-styles-wrapper .wp-block-separator[style*="text-align:right"], .editor-styles-wrapper .wp-block-separator[style*="text-align: right"],
.editor-styles-wrapper hr[style*="text-align:right"],
.editor-styles-wrapper hr[style*="text-align: right"] {
	border-right-color: var(--separator--border-color);
}

.editor-styles-wrapper .wp-block-separator.is-style-wide,
.editor-styles-wrapper hr.is-style-wide {
	border-bottom-width: var(--separator--height);
}

.editor-styles-wrapper .wp-block-separator.is-style-dots,
.editor-styles-wrapper hr.is-style-dots {
	border-bottom: none;
}

.editor-styles-wrapper .wp-block-separator.is-style-dots.has-background, .editor-styles-wrapper .wp-block-separator.is-style-dots.has-text-color,
.editor-styles-wrapper hr.is-style-dots.has-background,
.editor-styles-wrapper hr.is-style-dots.has-text-color {
	background-color: transparent !important;
}

.editor-styles-wrapper .wp-block-separator.is-style-dots.has-background:before, .editor-styles-wrapper .wp-block-separator.is-style-dots.has-text-color:before,
.editor-styles-wrapper hr.is-style-dots.has-background:before,
.editor-styles-wrapper hr.is-style-dots.has-text-color:before {
	color: currentColor !important;
}

.editor-styles-wrapper .wp-block-separator.is-style-dots:before,
.editor-styles-wrapper hr.is-style-dots:before {
	color: var(--separator--border-color);
}

.has-background:not(.has-background-background-color) .editor-styles-wrapper .wp-block-separator,
[class*="background-color"]:not(.has-background-background-color) .editor-styles-wrapper .wp-block-separator,
[style*="background-color"]:not(.has-background-background-color) .editor-styles-wrapper .wp-block-separator,
.wp-block-cover[style*="background-image"] .editor-styles-wrapper .wp-block-separator, .has-background:not(.has-background-background-color)
.editor-styles-wrapper hr,
[class*="background-color"]:not(.has-background-background-color)
.editor-styles-wrapper hr,
[style*="background-color"]:not(.has-background-background-color)
.editor-styles-wrapper hr,
.wp-block-cover[style*="background-image"]
.editor-styles-wrapper hr {
	border-color: currentColor;
}

.editor-styles-wrapper table th,
.editor-styles-wrapper .wp-block-table th {
	font-family: var(--heading--font-family);
}

.editor-styles-wrapper table td,
.editor-styles-wrapper table th,
.editor-styles-wrapper .wp-block-table td,
.editor-styles-wrapper .wp-block-table th {
	padding: calc( 0.5 * var(--global--spacing-unit));
}

/**
 * Editor Post Title
 * - Needs a special styles
 */
.editor-post-title__block .editor-post-title__input {
	color: var(--global--color-foreground);
	font-family: var(--heading--font-family);
	font-weight: var(--heading--font-weight);
	font-size: var(--heading--font-size-h2);
	letter-spacing: var(--heading--letter-spacing-h2);
	line-height: var(--heading--line-height);
}

.editor-styles-wrapper {
	/**
	 * Spacing Overrides
	 */
}

.editor-styles-wrapper .has-primary-color[class] {
	color: var(--global--color-primary) !important;
}

.editor-styles-wrapper .has-secondary-color[class] {
	color: var(--global--color-secondary) !important;
}

.editor-styles-wrapper .has-foreground-color[class] {
	color: var(--global--color-foreground) !important;
}

.editor-styles-wrapper .has-foreground-light-color[class] {
	color: var(--global--color-foreground-light) !important;
}

.editor-styles-wrapper .has-foreground-dark-color[class] {
	color: var(--global--color-foreground-dark) !important;
}

.editor-styles-wrapper .has-background-light-color[class] {
	color: var(--global--color-background-light) !important;
}

.editor-styles-wrapper .has-background-dark-color[class] {
	color: var(--global--color-background-dark) !important;
}

.editor-styles-wrapper .has-background-color[class] {
	color: var(--global--color-background) !important;
}

.editor-styles-wrapper .has-background:not(.has-background-background-color) a,
.editor-styles-wrapper .has-background p, .editor-styles-wrapper .has-background h1, .editor-styles-wrapper .has-background h2, .editor-styles-wrapper .has-background h3, .editor-styles-wrapper .has-background h4, .editor-styles-wrapper .has-background h5, .editor-styles-wrapper .has-background h6 {
	color: currentColor;
}

.editor-styles-wrapper .has-primary-background-color[class] {
	background-color: var(--global--color-primary) !important;
	color: var(--global--color-background);
}

.editor-styles-wrapper .has-primary-background-color[class] {
	background-color: var(--global--color-primary) !important;
	color: var(--global--color-background);
}

.editor-styles-wrapper .has-secondary-background-color[class] {
	background-color: var(--global--color-secondary) !important;
	color: var(--global--color-background);
}

.editor-styles-wrapper .has-foreground-background-color[class] {
	background-color: var(--global--color-foreground) !important;
	color: var(--global--color-background);
}

.editor-styles-wrapper .has-foreground-light-background-color[class] {
	background-color: var(--global--color-foreground-light) !important;
	color: var(--global--color-background);
}

.editor-styles-wrapper .has-foreground-dark-background-color[class] {
	background-color: var(--global--color-foreground-dark) !important;
	color: var(--global--color-background);
}

.editor-styles-wrapper .has-background-light-background-color[class] {
	background-color: var(--global--color-background-light) !important;
	color: var(--global--color-foreground);
}

.editor-styles-wrapper .has-background-dark-background-color[class] {
	background-color: var(--global--color-background-dark) !important;
	color: var(--global--color-foreground);
}

.editor-styles-wrapper .has-background-background-color[class] {
	background-color: var(--global--color-background) !important;
	color: var(--global--color-foreground);
}

.editor-styles-wrapper .is-small-text,
.editor-styles-wrapper .has-small-font-size {
	font-size: var(--global--font-size-sm);
}

.editor-styles-wrapper .is-regular-text,
.editor-styles-wrapper .has-regular-font-size,
.editor-styles-wrapper .has-normal-font-size,
.editor-styles-wrapper .has-medium-font-size {
	font-size: var(--global--font-size-md);
}

.editor-styles-wrapper .is-large-text,
.editor-styles-wrapper .has-large-font-size {
	font-size: var(--global--font-size-lg);
	line-height: var(--global--line-height-heading);
}

.editor-styles-wrapper .is-larger-text,
.editor-styles-wrapper .has-larger-font-size,
.editor-styles-wrapper .has-huge-font-size {
	font-size: var(--global--font-size-xl);
	line-height: var(--global--line-height-heading);
}

.editor-styles-wrapper .has-drop-cap:not(:focus)::first-letter {
	font-family: var(--heading--font-family);
	font-size: calc(2 * var(--heading--font-size-h1));
	font-weight: var(--heading--font-weight);
}

.editor-styles-wrapper [data-block] {
	margin-top: calc( 0.666 * var(--global--spacing-vertical));
	margin-bottom: calc( 0.666 * var(--global--spacing-vertical));
}

@media only screen and (min-width: 560px) {
	.editor-styles-wrapper [data-block] {
		margin-top: var(--global--spacing-vertical);
		margin-bottom: var(--global--spacing-vertical);
	}
}

.wp-block {
	max-width: none;
}

.container {
	max-width: none !important;
}

.block-editor-writing-flow > div > div > div > div > .block-editor-block-list__layout {
	padding-left: 0px;
	padding-right: 0px;
	max-width: 94%;
	margin: auto;
}
