/**
 * These styles should be loaded by the Block Editor only
 */
/**
 * Variable Configuration
 * - Import all config files for display in
 *   the editor, customizer, and front end.
 */
/*
 * Configure Components
 * - Similar to Blocks but exist outside of the "current" editor context
 */
.editor-styles-wrapper {
	/* Globals */
	/* Font Family */
	--global--font-primary: "Domaine Display Bold";
	--global--font-secondary: nimbus-sans-extended, sans-serif;
	--global--font-code: monospace, monospace;
	--global--font-ui: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	/* Font Size */
	--global--font-size-root: 16px;
	--global--font-size-ratio: 1.25;
	--global--font-size-base: 1em;
	--global--font-size-xs: calc(var(--global--font-size-base) / var(--global--font-size-ratio) / var(--global--font-size-ratio));
	--global--font-size-sm: calc(var(--global--font-size-base) / var(--global--font-size-ratio));
	--global--font-size-md: calc(var(--global--font-size-base));
	--global--font-size-lg: calc(var(--global--font-size-base) * var(--global--font-size-ratio));
	--global--font-size-xl: calc(var(--global--font-size-base) * var(--global--font-size-ratio) * var(--global--font-size-ratio));
	--global--font-size-xxl: calc(var(--global--font-size-base) * var(--global--font-size-ratio) * var(--global--font-size-ratio) * var(--global--font-size-ratio));
	--global--font-size-xxxl: calc(var(--global--font-size-base) * var(--global--font-size-ratio) * var(--global--font-size-ratio) * var(--global--font-size-ratio) * var(--global--font-size-ratio));
	--global--font-size-xxxxl: calc(var(--global--font-size-base) * var(--global--font-size-ratio) * var(--global--font-size-ratio) * var(--global--font-size-ratio) * var(--global--font-size-ratio) * var(--global--font-size-ratio));
	/* Line Height */
	--global--line-height-base: strip-unit($typescale-base);
	--global--line-height-body: 1.67;
	--global--line-height-heading: 1.125;
	/* Colors */
	--global--color-primary: #00becd;
	--global--color-primary-hover: #00becd;
	--global--color-secondary: #707070;
	--global--color-secondary-hover: #a3a3a3;
	--global--color-black: #333333;
	--global--color-white: #ffffff;
	--global--color-foreground: #444444;
	--global--color-foreground-light: #767676;
	--global--color-foreground-dark: #111111;
	--global--color-background: #FFFFFF;
	--global--color-background-light: #FAFAFA;
	--global--color-background-dark: #DDDDDD;
	--global--color-border: #DDDDDD;
	--global--color-border-light: #FAFAFA;
	--global--color-border-dark: #AAAAAA;
	--global--color-text-selection: lightblue;
	--global--color-alert-success: yellowgreen;
	--global--color-alert-info: skyblue;
	--global--color-alert-warning: gold;
	--global--color-alert-error: salmon;
	/* Spacing */
	--global--spacing-unit: 16px;
	--global--spacing-measure: unset;
	--global--spacing-horizontal: 16px;
	--global--spacing-vertical: 32px;
	/* Elevation */
	--global--elevation-1: 0px 0px 4px 2px rgba( 0, 0, 0, 0.2 );
	--global--elevation-2: 0px 0px 8px 2px rgba( 0, 0, 0, 0.2 );
	--global--elevation-3: 2px 2px 4px 2px rgba( 0, 0, 0, 0.2 );
	--global--elevation-4: 2px 2px 8px 0px rgba( 0, 0, 0, 0.2 );
	--global--elevation-5: 4px 4px 8px 0px rgba( 0, 0, 0, 0.2 );
	--global--elevation-none: 0px 0px 0px 0px transparent;
	/* Other */
	--global--border-radius-sm: 8px;
	--global--border-radius-md: 12px;
	--global--border-radius-lg: 16px;
	--global--border-radius-pill: 160px;
	--global--border-radius-none: 0;
	/* Elements */
	--form--font-family: var(--global--font-secondary);
	--form--font-size: var(--global--font-size-md);
	--form--line-height: var(--global-line-height-body);
	--form--color-text: var(--global--color-foreground);
	--form--border-color: var(--global--color-border);
	--form--border-width: 1px;
	--form--border-radius: 3px;
	--form--spacing-unit: calc(0.33 * var(--global--spacing-unit));
	/* Blocks */
	--button--color-text: var(--global--color-background);
	--button--color-text-hover: var(--button--color-text);
	--button--color-background: var(--global--color-primary);
	--button--color-background-hover: var(--global--color-primary-hover);
	--button--font-family: var(--global--font-ui);
	--button--font-size: var(--global--font-size-base);
	--button--font-weight: bold;
	--button--line-height: 1;
	--button--border-width: 2px;
	--button--border-radius: var(--global--border-radius-sm);
	--button--padding-vertical: calc(var(--global--spacing-horizontal) - var(--button--border-width));
	--button--padding-horizontal: var(--global--spacing-horizontal);
	--cover--height: calc( 15 * var(--global--spacing-vertical) );
	--cover--color-foreground: var(--global--color-white);
	--cover--color-background: var(--global--color-black);
	--heading--font-family: var(--global--font-primary);
	--heading--font-size-h6: var(--global--font-size-sm);
	--heading--font-size-h5: 14px;
	--heading--font-size-h4: var(--global--font-size-lg);
	--heading--font-size-h3: var(--global--font-size-xxl);
	--heading--font-size-h2: var(--global--font-size-xxxl);
	--heading--font-size-h1: var(--global--font-size-xxxxl);
	--heading--font-color-h1: var(--global--color-black);
	--heading--font-color-h2: var(--global--color-black);
	--heading--font-color-h3: var(--global--color-black);
	--heading--font-color-h4: var(--global--color-primary);
	--heading--font-color-h5: var(--global--color-primary);
	--heading--font-color-h6: var(--global--color-secondary);
	--heading--font-weight-h1: 900;
	--heading--font-weight-h2: 200;
	--heading--font-weight-h3: 600;
	--heading--font-weight-h4: 900;
	--heading--font-weight-h5: 700;
	--heading--font-weight-h6: 200;
	--heading--letter-spacing-h6: var(--global--letter-spacing-md);
	--heading--letter-spacing-h5: var(--global--letter-spacing-md);
	--heading--letter-spacing-h4: var(--global--letter-spacing-lg);
	--heading--letter-spacing-h3: var(--global--letter-spacing-xl);
	--heading--letter-spacing-h2: var(--global--letter-spacing-xxl);
	--heading--letter-spacing-h1: var(--global--letter-spacing-xxxl);
	--heading--line-height: 1.25em;
	--heading--margin-bottom: .75em;
	--latest-posts--title-font-family: var(--heading--font-family);
	--latest-posts--title-font-size: var(--heading--font-size-h3);
	--latest-posts--description-font-family: var(--global--font-family-secondary);
	--latest-posts--description-font-size: var(--global--font-size-sm);
	--list--font-family: var(--global--font-secondary);
	--definition-term--font-family: var(--global--font-primary);
	--pullquote--font-family: var(--global--font-family-primary);
	--pullquote--border-width: 4px;
	--pullquote--color-border: var(--global--color-foreground);
	--pullquote--color-foreground: var(--global--color-foreground);
	--pullquote--color-background: var(--global--color-background);
	--quote--border-color: var(--global--color-primary);
	--quote--font-family: var(--global--font-family-primary);
	--separator--border-color: var(--global--color-border);
	--separator--height: 2px;
	--separator--width: calc(6 * var(--global--spacing-horizontal));
	/* Components */
	--branding--color-text: var(--global--color-foreground);
	--branding--color-link: var(--global--color-primary);
	--branding--color-link-hover: var(--global--color-primary-hover);
	--branding--title--font-family: var(--global--font-primary);
	--branding--title--font-size: var(--global--font-size-md);
	--branding--title--font-weight: bold;
	--branding--description--font-family: var(--global--font-secondary);
	--branding--description--font-size: var(--global--font-size-sm);
	--branding--description--font-family: var(--global--font-secondary);
	--primary-nav--font-family: var(--global--font-primary);
	--primary-nav--font-size: var(--global--font-size-md);
	--primary-nav--font-weight: bold;
	--primary-nav--color-link: var(--global--color-primary);
	--primary-nav--color-link-hover: var(--global--color-primary-hover);
	--primary-nav--color-text: var(--global--color-foreground);
	--primary-nav--padding: calc(0.66 * var(--global--spacing-unit) );
	--social-nav--color-link: var(--global--color-foreground);
	--social-nav--color-link-hover: var(--global--color-primary-hover);
	--social-nav--padding: calc( 0.5 * var(--primary-nav--padding) );
	--footer--color-text: var(--global--color-foreground-light);
	--footer--color-link: var(--global--color-white);
	--footer--color-link-hover: var(--global--color-primary);
	--footer--font-family: var(--global--font-primary);
	--footer--font-size: var(--global--font-size-sm);
}
