.wp-block-coblocks-gallery-carousel {
	overflow: hidden;
	.flickity-page-dots {
		.dot {
			background: rgba(0,0,0,0.8);
			border: thin solid #000;
			&.is-selected {
				background: rgba(255,255,255,0.75);
			}
		}
	}
	&.has-responsive-height {
		@include media(laptop){
			&.rh36 .has-carousel {
				padding-bottom: 36%;
			}
			&.rh40 .has-carousel {
				padding-bottom: 40%;
			}
			&.rh46 .has-carousel {
				padding-bottom: 46%;
			}
			&.rh50 .has-carousel {
				padding-bottom: 50%;
			}
			&.rh400 .has-carousel {
				padding-bottom: 400px;
			}
			&.rh500 .has-carousel {
				padding-bottom: 500px;
			}
			&.rh600 .has-carousel {
				padding-bottom: 600px;
			}
		}
	}


	/*&.dots-below {
		margin-bottom: 5rem;
		overflow-y: visible;
		.is-cropped {
			overflow-y: visible;
		}
		.flickity-viewport {
			overflow-y: hidden;
		}
		.flickity-page-dots {
			bottom: -20px;
		}
	}*/
}