//  Keep masthead fixed

#masthead {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: var(--global--spacing-vertical);
	@include media(mobile) {
		padding-left: 15px;
	}
}

.site-logo {
	a {
		padding-bottom: 0;
		&:hover {
			border-bottom: none;
		}
	}
	img {
		height: 50px;
		@include media(mobile) {
			height: auto;
		}
	}
}

// Site branding
.site-branding {
	color: var(--branding--color-text);
}
body.home .site-branding {
	position: fixed;
	opacity: 1;
	transition: opacity .3s ease-in-out;
}
body.home:not(.show-branding) .site-branding {
	opacity: 0;
}
