#menu-toggle {
	z-index: 100;
    right: 0;
    margin-right: var(--global--spacing-vertical);

	@include media(mobile) {
		margin-right: var(--global--spacing-horizontal);
        padding: 0 var(--global--spacing-horizontal);
		margin-right: calc( (100% - #{$content-breakpoint-sm} + #{$horizontal-padding})/2 );
	}

	@include media(tablet) {
		margin-right: calc( (100% - #{$content-breakpoint-md} + #{$horizontal-padding})/2 );
	}

	@include media(laptop) {
		margin-right: calc( (100% - #{$content-breakpoint-lg} + #{$horizontal-padding})/2 );
	}

	@include media(desktop) {
		margin-right: calc( (100% - #{$content-breakpoint-xl} + #{$horizontal-padding})/2 );
	}

	@include media(wide) {
		margin-right: calc( (100% - #{$content-breakpoint-xxl} + #{$horizontal-padding})/2 );
	}
}

$color: $black;
$active: $turquoise;

.main-nav-toggle {
    display: inline-block;
    cursor: pointer;
    padding-top: 1.5rem;

    &:hover {
    	text-decoration: none;
    	color: rgba(1,1,1,0);
    }



    > div {
        width: 20px;
        height: 14px;
        position: relative;
        div {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            transition: transform .5s ease;
            span {
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                &:first-child {
                    top: 0;
                    &:before,
                    &:after {
                        top: 0;
                    }
                }
                &:last-child {
                    bottom: 0;
                    &:before,
                    &:after {
                        bottom: 0;
                    }
                }
                &:before,
                &:after {
                    content: '';
                    display: block;
                    width: 50%;
                    height: 2px;
                    border-radius: 1px;
                    background: $color;
                    position: absolute;
                    -webkit-backface-visibility: hidden;
                    transition: transform .5s ease, border-radius .3s ease, background .4s ease;
                }
                &:before {
                    left: 0;
                    transform-origin: 0 50%;
                    transform: translate(1px, 0) scaleX(1.1);
                }
                &:after {
                    right: 0;
                    transform-origin: 100% 50%;
                    transform: translate(-1px, 0) scaleX(1.1);
                }
            }
        }
        svg {
            display: block;
            fill: none;
            stroke: $color;
            stroke-width: 2px;
            width: 36px;
            height: 36px;
            stroke-linecap: butt;
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -18px 0 0 -18px;
            stroke-dasharray: 0px 70.407 9 70.407;
            stroke-dashoffset: 70.407;
            transform-origin: 50% 50%;
            -webkit-backface-visibility: hidden;
            transform: scale(1);
            transition: stroke-dashoffset .5s ease, stroke-dasharray .6s ease, transform .5s ease, stroke .4s ease;
            &:nth-child(3) {
                transform: rotate(180deg) scale(1);
            }
        }
    }
    &.open > div {
        div {
            transform: rotate(90deg);
            span {
                &:before,
                &:after {
                    background: $active;
                }
                &:first-child {
                    &:before {
                        transform: rotate(45deg) translate(2.2px, -3px) scaleX(1.05);
                    }
                    &:after {
                        transform: rotate(-45deg) translate(-2.2px, -3px) scaleX(1.05);
                    }
                }
                &:last-child {
                    &:before {
                        transform: rotate(-45deg) translate(2.2px, 3px) scaleX(1.05);
                    }
                    &:after {
                        transform: rotate(45deg) translate(-2.2px, 3px) scaleX(1.05);
                    }
                }
            }
        }
        svg {
            stroke-dashoffset: 53.407;
            stroke-dasharray: 0 70.407 53.407 70.407;
            troke-linecap: round;
            transform: rotate(90deg);
            stroke: $active;
            &:nth-child(3) {
                transform: rotate(270deg);
            }
        }
    }

}

body.home {
	header .nav-toggle:hover svg {
		fill: var(--global--color-white);
	}
}