// Site Navigation styles universal
// 		also applies to footer menu
.main-navigation {
	.menu-site-navigation-container {
		a {
			font-weight: 300;
		}
	}
}

//  header only styles
nav#site-navigation {
	height: 100vh;
	max-height: 100vh;
	z-index: 99;
	top: -110vh;
	transition: top .3s ease-in;
	padding-top: 0;
	
	.main-navigation .menu-site-navigation-container a {
		font-weight: 300;
	}

	&.enabled {
		top: 0;
	}
	.top {
		margin-bottom: 5rem;
	}
	.mid {
		height: 35vh;
	}
	.bottom {
		height: 15vh;
	}
	.social {
		> div {
			padding-bottom: .5rem;
		}
	}
	.mailto {
		color: white;
		margin-bottom: 4rem;
		a {
			text-transform: none;
		}
	}
	.copyright {
		font-size: 12px;
		color: #9b9b9b;
	}
	h2, .menu-site-navigation-container a {
		font-size: var(--global--font-size-xxxxl);
	}
	a {
		text-transform: capitalize;
	}
	.site-description {
		font-size: var(--global--font-size-md);
	}
	
	@include media(tablet) {
		.mid {
			height: 60vh;
		}
		.mailto, .social {
			margin-bottom: 0;
		}
	}
	@include media(mobile-only) {
		.site-logo {
			padding-left: var(--global--spacing-horizontal);
		}
		.copyright {
			position: absolute;
			bottom: 80px;
		}
		.social > div {
			padding-bottom: 2rem;
		}
	}
	@media screen and (orientation:landscape) and (max-height: 600px) {
		.top {
			margin-bottom: 2rem;
		}
		h2, .menu-site-navigation-container a {
			font-size: 2rem;
		}
		.site-description {
			line-height: 1.35rem;
		}
	}
}
