.social-icons {
	max-width: 200px;

	a {
		color: currentColor;
		font-weight: var(--branding--title--font-weight);

		&:link,
		&:visited {
			color: currentColor;
		}

		&:hover {
			color: var(--branding--color-link-hover);
		}
	}

	svg {
		fill: currentColor;
		vertical-align: middle;
	}
}
