body.error404 {
	#page {
		height: 100vh;
		display: flex;
		flex-direction: column;
		#content {
			flex-grow: 5;
			#primary {
				height: 100%;
			}
		}
	}
	footer.site-footer {
		border-top: 1px solid var(--dark);
	}
}