/**
 * Entry Content
 */

.entry-content {

	p {
		word-wrap: break-word;
	}

	.more-link {
		display: table;
		color: inherit;
		margin-top: var(--global--spacing-unit);

		@include media(mobile) {
			margin-top: var(--global--spacing-vertical);
		}

		&:after {
			content: "\02192";
			display: inline-block;
			margin-left: 0.5em;
		}

		&:hover {
			text-decoration: none;
		}
	}

	a {

	}

	// Overwrite iframe embeds that have inline styles.
	> iframe[style] {

		margin: var(--global--spacing-vertical) 0 !important;
		max-width: 100% !important;

		@include media(mobile) {
			max-width: var(--global--spacing-vertical) !important;
		}
	}

}

.entry-attachment {
	text-align: center;
}


body.single-post .site-main > article {
	@include media(mobile-only) {
		> .entry-header {
			margin-top: 2rem;
		}
		.entry-title {
			font-size: var(--global--font-size-xxxl);
		}
		.entry-content{
			> figure:first-child {
				height: 50vh;
				img {
					height: 100%;
					object-fit: cover;
				}
			}
			h2:first-child {
				font-size: var(--global--font-size-xxl);
			}
		}
	}
}
