.site-main > article > .entry-header {
	margin-top: 4rem;
}

.entry-title {
	font-size: 4rem;
}

.entry-meta,
.entry-footer {

	color: var(--global--color-foreground-light);
	clear: both;
	float: none;
	font-size: var(--global--font-size-sm);
	display: block;

	> span {
		display: inline-block;
		margin-right: var(--global--spacing-unit);

		& > * {
			display: inline-block;
			vertical-align: middle;
		}

		&:last-child {
			margin-right: 0;
		}

		.published + .updated {
			display: none; // Hide updated date?
		}
	}

	a {
		color: currentColor;

		&:hover,
		&:active {
			color: var(--global--color-primary-hover);
		}
	}

	.svg-icon {
		fill: currentColor;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		margin-right: calc(0.25 * var(--global--spacing-unit));
	}
}

.entry-meta {

}

.entry-footer {

}

