body.home {
	background: var(--dark);
	header {
		position: relative;
		z-index: 25;
	}
	#site-intro {
		width: 100%;
		height: 100vh;
		overflow: hidden;
		.intro-vid-container {
			margin: 0 auto 0;
			@include media(laptop) {
				margin: -8em auto 0;
			}
		}
		video {
			object-fit: cover;
			width: 100%;
		}
	}

	&:not(.intro-playing) {
		#site-intro video {
			opacity: 0;
		}
	}

	$arrowTransition: all .65s ease-in-out;
	#arrow-down {
		height: 43px;
		.arrow-container {
			position: relative;
			top: 21.5px;
			height: 0;
			overflow: hidden;
			transition: $arrowTransition;
			svg {
				position: relative;
				top: -21.5px;
				transition: $arrowTransition;
			}
		}
	}
	&.intro-arrow-visible {
		#arrow-down .arrow-container {
			height: 43px;
			top: 0px;
			svg {
				top: 0;
			}
		}
	}

	.main-nav-toggle {
		> div {
			div span::before, div span::after {
				background: #fff;
			}
			svg {
				stroke: #fff;
			}
		}
		&.open {
			> div {
				div span::before, div span::after {
					background: $turquoise;
				}
				svg {
					stroke: $turquoise;
				}
			}
		}
	}

	#main {
		padding: 0;
		.entry-content > div {
			background-color: transparent;
		}
	}

	h1, h2:not(.slogan) {
		font-family: nimbus-sans-extended;
	}

	project {
		position: relative;
		display: inline-block;
		width: 100%;
		height: 100vh;

		img {
			z-index: 3;
			object-fit: cover;
			width: 100%;
			height: 100%;
		}

		.filter-layer {
			z-index: 4;
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
		  background-blend-mode: multiply;
  		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
		}

		.entry-content {
			z-index: 5;
			position: absolute;
			width: 100%;
			bottom: 8em;
			padding: 3em 0;
			font-weight: bold;
			h2 {
			  font-weight: bold;
			  text-transform: none;
			}
			a {
				display: inline-block;
				font-size: 18px;
				border-bottom: 2px solid;
				padding-bottom: 0;
			}
		}



	}

	@media screen and (max-width: $content-breakpoint-md) {
		project .entry-content > :not(.link) {
			padding-right: 50px;
		}
	}

	@include media(tablet) {
		project .entry-content {
			bottom: 6em;
		}
	}

	@include media(laptop) {
		.intro-vid-container {
			max-width: 80vw;
			margin-top: -120px;
		}
		project .entry-content {
			bottom: 3em;
		}
		project .entry-content > :not(.link) {
			padding-right: 250px;
		}
	}

	@include media(desktop) {

		project .entry-content > :not(.link) {
			padding-right: 450px;
		}
	}

	@include media(wide) {
		.intro-vid-container {
			max-width: 1100px;
		}
		project .entry-content > :not(.link) {
			padding-right: 750px;
		}
	}
}
