body.page-id-28 {
	.wp-block-contodo-components-hero-two-up > .image {
		display: none;
		@include media(tablet) {
			display: inherit;
		}
	}
	//  Project card
	.wp-block-contodo-components-project-card {
		transition: -webkit-transform 1s;
		transition: transform 1s;
		transition: transform 1s,-webkit-transform 1s;
		-webkit-transform: translateY(20%);
		transform: translateY(20%);
		visibility: hidden;
		&.entered {
			-webkit-transform: translateY(0);
			transform: translateY(0);
			visibility: visible;
		}

		figure {
			-webkit-transition: -webkit-transform .3s ease-in-out;
			transition: -webkit-transform .3s ease-in-out;
			transition: transform .3s ease-in-out;
			transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out;
		}
		a:hover {
			figure {
				-webkit-transform: scale(.95);
				transform: scale(.95);
			}
		}
	}
}