/* Next/Previous navigation */

// Singular navigation
.site-main > .post-navigation {
	margin-bottom: 3rem;
	@include media(wide) {
		margin-bottom: 5rem;
	}
}
.post-navigation {
	@extend %responsive-aligndefault;

	.nav-links {
		display: flex;
		justify-content: space-between;		
		
		.nav-link {
			display: flex;
			flex-direction: column;
		}

		a:hover {
			text-decoration: none;
			border-bottom: #fff;
			color: currentColor;
		}
	}

	.post-title {
		font-family: var(--global--font-primary);
		font-size: 30px;
		font-weight: 300;
		text-transform: none;
	}

	.post-category {
		font-weight: 400;
		font-size: 16px;
		text-transform: none;
		color: var(--global--color-secondary);
	}

	@include media(laptop) {
		.nav-links {
			display: flex;

			.nav-link {
				display: grid;
			}

			.nav-next {
				.nav-link {
					grid-template-columns: 4.5fr 1.5fr;
				}
			}

			.nav-previous {
				.nav-link {
					grid-template-columns: 1.5fr 4.5fr;
				}
			}
		}

		img {
			object-fit: cover;
			height: 100%;
		}
	}

	@include media(desktop) {
		.nav-links {
			.nav-next {
				.nav-link {
					grid-template-columns: 4.5fr 1fr;
				}
			}

			.nav-previous {
				.nav-link {
					grid-template-columns: 1fr 4.5fr;
				}
			}
		}
	}

	@include media(wide) {
		.post-title {
			font-size: 40px;
		}
	}

	
}
