.editor-styles-wrapper ul,
.editor-styles-wrapper ol {
	font-family: var(--list--font-family);
	margin: var(--global--spacing-vertical) 0;
	padding-left: calc( 2 * var(--global--spacing-horizontal) );

	// Utility classes
	&.aligncenter {
		list-style-position: inside;
		padding: 0;
	}

	&.alignright {
		list-style-position: inside;
		text-align: right;
		padding: 0;
	}
}

.editor-styles-wrapper li {
	> ul,
	> ol {
		margin: 0;
	}
}

.editor-styles-wrapper dt {
	font-family: var(--definition-term--font-family);
	font-weight: bold;
}
