.wp-block-quote {

	border-left-color: var(--quote--border-color);
	margin: var(--global--spacing-vertical) 0;
	padding-left: var(--global--spacing-horizontal);

	& > * {
		margin-top: var(--global--spacing-unit);
		margin-bottom: var(--global--spacing-unit);

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	p {
		font-family: var(--quote--font-family);
		font-size: var(--heading--font-size-h4);
		line-height: var(--heading--line-height);
	}

	.wp-block-quote__citation,
	cite,
	footer {
		color: var(--global--color-foreground-light);
		font-size: var(--global--font-size-sm);

		.has-background:not(.has-background-background-color) &,
		[class*="background-color"]:not(.has-background-background-color) &,
		[style*="background-color"] &,
		.wp-block-cover[style*="background-image"] & {
			color: currentColor;
		}
	}

	/**
	 * Block Options
	 */
	&[style*="text-align:right"],
	&[style*="text-align: right"] {
		border-right-color: var(--quote--border-color);
	}

	&.is-style-large,
	&.is-large {
		/* Resetting margins to match _block-container.scss */
		margin-top: var(--global--spacing-vertical);
		margin-bottom: var(--global--spacing-vertical);
		padding: 0;

		p {
			font-size: var(--heading--font-size-h3);
			line-height: var(--heading--line-height);
		}

		.wp-block-quote__citation,
		cite,
		footer {
			color: var(--global--color-foreground-light);
			font-size: var(--global--font-size-sm);
		}
	}

	.has-background:not(.has-background-background-color) &,
	[class*="background-color"]:not(.has-background-background-color) &,
	[style*="background-color"] &,
	.wp-block-cover[style*="background-image"] & {
		border-color: currentColor;
	}
}
