/* Center image block by default in the editor */

.editor-styles-wrapper .wp-block-image > div {
	text-align: center;
}

.editor-styles-wrapper [data-type="core/image"] .block-editor-block-list__block-edit figure.is-resized {
	margin: 0 auto;
}
