.sticky {

}

.sticky-post {
	color: var(--global--color-background);
	background-color: var(--global--color-primary);
	font-family: var(--global--font-family-primary);
	font-weight: bold;
	font-size: var(--global--font-size-sm);
	line-height: 1;
	padding: calc(0.5 * var(--global--spacing-unit)) calc(0.66 * var(--global--spacing-unit));
}

.updated:not(.published) {

}

.entry {

}
