.editor-styles-wrapper .wp-block-group {
	&.has-background {
		padding: calc( 0.666 * var(--global--spacing-vertical) );

		@include media(mobile) {
			padding: var(--global--spacing-vertical);
		}
	}
}

.editor-styles-wrapper .wp-block[data-type="core/group"] > .editor-block-list__block-edit > div > .wp-block-group.has-background > .wp-block-group__inner-container > .editor-inner-blocks > .editor-block-list__layout > .wp-block[data-align=full] {
	margin: 0;
	width: 100%;
}
