/* Utilities */

img#wpstats {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	padding: 0 !important;
	border: 0 !important;
	height: 0 !important;
	width: 0 !important;
	overflow: hidden;
}

.components-visually-hidden {
	border: 0;
	clip: rect(1px,1px,1px,1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}
